<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>Protocol Details</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div>
<div th:insert="~{header :: main}">...</div>
<div class="container">
    <!-- Steps Section with Tabs -->
    <div class="row note_card">
        <fieldset>
            <legend>Analysis</legend>
            <button onclick="history.back()" class="btn btn-primary">Back</button>

            <!-- Error Banner -->
            <div id="errorBanner" class="alert alert-danger d-none" role="alert"></div>

            <div id="stepsContent">
                <div th:each="step, iterStat : ${steps}" 
                     th:id ="'row_' + ${step.id}" 
                     th:class="${iterStat.index % 2 == 0 ? 'row even' : 'row odd'}" 
                     th:data-type="${step.categoryName}">
                    
                    <div class="col-md-3" th:text="${step.name}">[Step Name]</div>
                    <div class="col-md-3" th:text="${step.description}">[Description]</div>
                    <div class="col-md-3" th:text="${step.status}">[Status]</div>
                    <div class="col-md-3">
                        <button type="button" class="btn btn-sm btn-secondary" th:onclick="'updateProgress(' + ${step.id} + ');'">Update Progress</button>
                        <button type="button" class="btn btn-sm btn-secondary" th:onclick="'addNote(' + ${step.id} + ');'">Add Note</button>
                    </div>
                    
                    <div th:if="${step != null}" th:id="'noteContainer_' + ${step.id}"></div>

                    <div th:if="${step != null}" th:id="'stepContainer_' + ${step.id}"></div>
                </div>
            </div>
        </fieldset>
    </div>
</div>
</div>

<div class="container">
    <div class="row note_card">
        <fieldset>
            <legend>Homework</legend>
            <div class="rowheader row">
                <div class="col">Name</div>
                <div class="col">Description</div>
                <div class="col">Action</div>
            </div>

            <div th:each="homework, stat : ${homeworks}" th:id="|row_${stat.index}|"
                 th:class="${stat.index % 2 == 0 ? 'row even' : 'row odd'}">
                <div class="col" th:text="${homework.name}">Default Name</div>
                <div class="col" th:text="${homework.description}">Default Description</div>
                <div class="col">
                    <button type="button" class="btn btn-sm btn-secondary" th:onclick="'viewHomeworkDetails('+${homework.id}+');'">Details</button>
                </div>
            </div>
        </fieldset>
    </div>
</div>

<script>
    function updateProgress(stepId) {
        const container = document.querySelector(`#stepContainer_${stepId}`);
        if (!container) {
            console.error(`Container not found for step ID: ${stepId}`);
            return;
        }
        container.innerHTML = `<select id="statusDropdown_${stepId}">
                                    <option value="TODO">To Do</option>
                                    <option value="IN_PROGRESS">In Progress</option>
                                    <option value="DONE">Done</option>
                                </select>
                                <button onclick="confirmStatus(${stepId})">Confirm Status</button>`;
    }

    function addNote(stepId) {
        const container = document.querySelector(`#noteContainer_${stepId}`);
        container.innerHTML = `<input type="text" id="noteInput_${stepId}" placeholder="Add a note...">
                               <button onclick="confirmNote(${stepId})">Confirm Note</button>`;
    }

    function confirmStatus(stepId) {
        var csrfToken = document.querySelector('meta[name="_csrf"]').getAttribute('content');
        var csrfHeader = document.querySelector('meta[name="_csrf_header"]').getAttribute('content');
        var status = document.querySelector(`#statusDropdown_${stepId}`).value;

        fetch(`/updateStepStatus/${protocolId}/${stepId}/${status}`, {
            method: 'PATCH',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json',
                [csrfHeader]: csrfToken
            }
        })
        .then(response => {
            if(response.ok) {
                window.location.reload();
            } else {
                response.text().then(text => { throw new Error(text); });
            }
        })
        .catch(error => {
            console.error('Error updating status:', error);
            showErrorBanner('Failed to update the status. Error: ' + error.message);
        });
    }

    function confirmNote(stepId) {
        var csrfToken = document.querySelector('meta[name="_csrf"]').getAttribute('content');
        var csrfHeader = document.querySelector('meta[name="_csrf_header"]').getAttribute('content');
        var note = document.querySelector(`#noteInput_${stepId}`).value;

        fetch(`/updateStepNote/${protocolId}/${stepId}/${note}`, {
            method: 'POST',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json',
                [csrfHeader]: csrfToken
            }
        })
        .then(response => {
            if(response.ok) {
                window.location.reload();
            } else {
                response.text().then(text => { throw new Error(text); });
            }
        })
        .catch(error => {
            console.error('Error adding note:', error);
            showErrorBanner('Failed to add the note. Error: ' + error.message);
        });
    }

    function viewHomeworkDetails(homeworkId) {
        var url = '/homeworkDisplay/' + homeworkId;
        window.location.href = url;
    }

    function showErrorBanner(message) {
        var errorBanner = document.getElementById('errorBanner');
        errorBanner.textContent = message;
        errorBanner.classList.remove('d-none');
    }
</script>
</body>
</html>
