<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
    <div th:insert="~{header :: main}">...</div>
    <meta name="_csrf" th:content="${_csrf.token}" />
    <meta name="_csrf_header" th:content="${_csrf.headerName}" />
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</head>
<body>
    <div class="container">
        <div id="messageBanner" class="alert" role="alert" style="display: none;"></div>
        <div class="row note_card">
            <fieldset>
                <legend>Change User Details</legend>
                <form id="userDetailsForm">
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="firstName">First Name:</label>
                            <input type="text" id="firstName" name="firstName" class="form-control" th:value="${user.firstName}">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="lastName">Last Name:</label>
                            <input type="text" id="lastName" name="lastName" class="form-control" th:value="${user.lastName}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="username">Username:</label>
                        <input type="text" id="username" name="username" class="form-control" th:value="${user.username}">
                    </div>
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="text" id="email" name="email" class="form-control" th:value="${user.email}">
                    </div>
                    <div class="form-group">
                        <label for="role">Role:</label>
                        <select id="role" name="role" class="form-control">
                            <option value="2" th:selected="${roles == 'CLIENT'}">Client</option>
                            <option value="3" th:selected="${roles == 'USER'}">User</option>
                            <option value="4" th:selected="${roles == 'ADMIN'}">Admin</option>
                        </select>
                    </div>
                    <button type="button" class="btn btn-primary" onclick="window.history.back();">Back</button>
                    <button type="button" class="btn btn-success" onclick="saveUserDetails()">Save</button>
                </form>
            </fieldset>
        </div>
    </div>
    
	<div th:if="${!isDependent}" class="container" id="dependentSection">

        <!-- Dependents Information -->
        <div class="note_card">
            <fieldset>
                <legend>Dependents</legend>
                <div th:each="dependent : ${dependents}">
                    <div>
                        <label>Dependent Name:</label>
                        <span th:text="${dependent.firstName} + ' ' + ${dependent.lastName}"></span>
                        <button class="btn btn-default btn-sm ml-2" type="button" th:onclick="'removeDependent(' + ${dependent.id} + ')'">Remove Dependent</button>

                    </div>
                </div>
                
                <button class="btn btn-primary" type="button" onclick="toggleDependentFields()">Add Dependent</button>
                
                <div id="dependentFields" style="display: none;">
                    <select class="form-control mt-3" id="dependentSelect">
                        <option value="" selected disabled>Select Dependent</option>
                        <p th:each="user : ${userList}" th:text="${user.firstName + ' ' + user.lastName}"></p>

                        <option th:each="dependant : ${userList}" th:value="${dependant.id}" th:text="${dependant.firstName + ' ' + dependant.lastName}"></option>

                        <option value="new">Create New Dependent</option>
                    </select>
                    <button id="confirmDependentBtn" class="btn btn-primary mt-2" type="button" onclick="addDependent()">Confirm</button>
                </div>

                <div id="dependentFormContainer" style="display: none;">
                    <label>Email Address:</label>
                    <input type="email" id="dependentEmail" class="form-control">
                    <label>First Name:</label>
                    <input type="text" id="dependentFirstName" class="form-control">
                    <label>Last Name:</label>
                    <input type="text" id="dependentLastName" class="form-control">
                    <button class="btn btn-success mt-2" onclick="confirmAddDependent()">Create Dependent</button>
                </div>
            </fieldset>
        </div>
    </div>
    
    <div class="container" id="householdSection">
        <div class="note_card">
            <fieldset>
                <legend>My Household</legend>
                <div th:if="${myHousehold != null}">
                    <div>
                        <label>Household Name:</label>
                        <span th:text="${myHousehold.name}"></span>
                    </div>
                    <div th:each="member : ${myHousehold.householdAccounts}">
                        <div th:if="${member.id != id}">
                            <label>Member Name:</label>
                            <span th:text="${member.firstName} + ' ' + ${member.lastName}"></span>
                        </div>
                    </div>
                    <a class="btn btn-sm btn-default" th:href="${'javascript:removeCoClient(' + myHousehold.id + ');'}">Leave Household</a>
                </div>
                <div th:if="${myHousehold == null}">
                    <button class="btn btn-sm btn-secondary" onclick="toggleHouseholdForm()">Add Household</button>
                    <div id="householdFormContainer" style="display: none;">
                        <label>Select Household:</label>
                        <select id="householdSelect" class="form-control">
                            <option th:each="household : ${householdList}" th:value="${household.id}" th:text="${household.name}"></option>
                        </select>
                        <button class="btn btn-primary mt-2" onclick="confirmAddCoClient()">Confirm</button>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
    
    <div class="container">
        <div class="row note_card">
            <fieldset>
                <legend>Change Password</legend>
                <div>
                    <button type="button" class="btn btn-primary" onclick="sendResetPassword()">Reset Password Email</button>
                </div>
            </fieldset>
        </div>
    </div>

    <script th:inline="javascript">
        const clientId = [[${id}]];
        const pcId = [[${pcId}]];
        const householdId = [[${householdId}]];

        $(document).ready(function() {
		    $('#dependentSelect').change(function() {
		        const selectedValue = $(this).val();
		        console.log("Selected Value:", selectedValue); // Debugging line
		
		        if (selectedValue === 'new') {
		            $('#dependentFormContainer').show();
		            $('#confirmDependentBtn').hide();
		        } else {
		            $('#dependentFormContainer').hide();
		            $('#confirmDependentBtn').show();
		        }
		    });
		});


        function showMessageBanner(message, type) {
            const banner = document.getElementById('messageBanner');
            banner.className = 'alert alert-' + type;
            banner.textContent = message;
            banner.style.display = 'block';
        }

        function saveUserDetails() {
            console.log("saveUserDetails: Function called.");
            var csrfToken = document.querySelector('meta[name="_csrf"]').getAttribute('content');
            var csrfHeader = document.querySelector('meta[name="_csrf_header"]').getAttribute('content');

            var email = document.getElementById('email').value;
            var firstName = document.getElementById('firstName').value;
            var lastName = document.getElementById('lastName').value;
            var role = document.getElementById('role').value;
            var requestUrl = `/updateUserDetails/${clientId}/${firstName}/${lastName}/${email}/${role}`;

            fetch(requestUrl, {
                method: 'PATCH',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json',
                    [csrfHeader]: csrfToken
                }
            })
            .then(response => {
                if (response.ok) {
                    showMessageBanner('User details saved successfully.', 'success');
                    window.location.reload();
                } else {
                    response.text().then(text => { throw new Error(text); });
                }
            })
            .catch(error => {
                console.error('Error:', error);
                showMessageBanner('Error saving user details.', 'danger');
            });
        }

        function sendResetPassword() {
            console.log("sendResetPassword: Function called with id:", clientId);
            var csrfToken = document.querySelector('meta[name="_csrf"]').getAttribute('content');
            var csrfHeader = document.querySelector('meta[name="_csrf_header"]').getAttribute('content');

            var requestUrl = `/sendResetEmail/${clientId}`;

            fetch(requestUrl, {
                method: 'GET',
                headers: {
                    'Accept': 'text/plain',
                    'Content-Type': 'application/json',
                    [csrfHeader]: csrfToken
                }
            })
            .then(response => {
                if (response.ok) {
                    showMessageBanner('Reset password email sent successfully.', 'success');
                } else {
                    response.text().then(text => { throw new Error(text); });
                }
            })
            .catch(error => {
                console.error('Error:', error);
                showMessageBanner('Error sending reset password email.', 'danger');
            });
        }

        function toggleDependentFields() {
            const dependentFields = document.getElementById('dependentFields');
            dependentFields.style.display = dependentFields.style.display === 'none' ? 'block' : 'none';
        }

        function confirmAddDependent() {
            var csrfToken = document.querySelector('meta[name="_csrf"]').getAttribute('content');
            var csrfHeader = document.querySelector('meta[name="_csrf_header"]').getAttribute('content');

            const dependent = {
                email: document.getElementById('dependentEmail').value,
                firstName: document.getElementById('dependentFirstName').value,
                lastName: document.getElementById('dependentLastName').value,
                roles: [2]
            };

            $.ajax({
                url: `/createAndAssignDependent/${clientId}`,
                type: 'POST',
                headers: {
                    'Accept': 'text/plain',
                    'Content-Type': 'application/json',
                    [csrfHeader]: csrfToken
                },
                data: JSON.stringify(dependent),
                success: function(response) {
                    showMessageBanner('Dependent Successfully Created and Assigned', 'success');
                    saveUserDetails();
                    window.location.reload();
                },
                error: function(xhr, status, error) {
                    showMessageBanner('Failed to add the Dependent. Error: ' + xhr.responseText, 'danger');
                }
            });
        }

        function loadDependents() {
            $.ajax({
                url: `/getDependents/${clientId}`,
                type: 'GET',
                success: function(response) {
                    $('#dependentSection').html(response);
                },
                error: function(xhr, status, error) {
                    console.error('Error loading dependents:', error);
                }
            });
        }

        function toggleHouseholdForm() {
            const formContainer = document.getElementById('householdFormContainer');
            formContainer.style.display = formContainer.style.display === 'none' ? 'block' : 'none';
        }

        function confirmAddCoClient() {
            var csrfToken = document.querySelector('meta[name="_csrf"]').getAttribute('content');
            var csrfHeader = document.querySelector('meta[name="_csrf_header"]').getAttribute('content');

            var householdId = document.getElementById('householdSelect').value;

            fetch(`/addCoClient/${householdId}/${clientId}`, {
                method: 'PATCH',
                headers: {
                    'Accept': 'text/plain',
                    'Content-Type': 'application/json',
                    [csrfHeader]: csrfToken
                }
            })
            .then(response => {
                if (response.ok) {
                    showMessageBanner('CoClient Successfully Added!', 'success');
                    reloadHouseholdSection();
                } else {
                    response.text().then(text => { throw new Error(text); });
                }
            })
            .catch(error => {
                console.error('Error:', error);
                showMessageBanner('Error adding CoClient.', 'danger');
            });
        }

        function addDependent() {
            const selectedDependent = document.getElementById('dependentSelect').value;
            if (selectedDependent) {
                $.ajax({
                    url: `/assignDependentToUser/${clientId}/${selectedDependent}`,
                    type: 'PATCH',
                    headers: {
                        'Accept': 'text/plain',
                        'Content-Type': 'application/json',
                        'X-CSRF-TOKEN': $('meta[name="_csrf"]').attr('content')
                    },
                    success: function(response) {
                        if (response.includes("Successfully Added")) {
                            showMessageBanner(response, 'success');
                            loadDependents(); // Load dependents after successful addition
                        } else {
                            showMessageBanner(response, 'danger');
                        }
                    },
                    error: function(xhr, status, error) {
                        console.error('Error adding Dependent:', error);
                        showMessageBanner('Failed to add the Dependent. Error: ' + xhr.responseText, 'danger');
                    }
                });
            } else {
                showMessageBanner('Please select a Dependent first.', 'warning');
            }
        }
        
        function removeDependent(depId) {
		    console.log("removeDependent: Function called with depId:", depId);
		
		    var csrfToken = document.querySelector('meta[name="_csrf"]').getAttribute('content');
		    var csrfHeader = document.querySelector('meta[name="_csrf_header"]').getAttribute('content');
		
		    var requestUrl = `/removeDependent/${clientId}/${depId}`;
			if (confirm("Are you sure you want to remove this CoClient?")) {
		    fetch(requestUrl, {
		        method: 'PATCH',
		        headers: {
		            'Accept': 'text/plain',
		            'Content-Type': 'application/json',
		            [csrfHeader]: csrfToken
		        }
		    })
		    .then(response => {
		        if (response.ok) {
		            showMessageBanner('Dependent successfully removed.', 'success');
		            loadDependents();  // Reload the dependents list
		        } else {
		            response.text().then(text => { throw new Error(text); });
		        }
		    })
		    .catch(error => {
		        console.error('Error:', error);
		        showMessageBanner('Error removing dependent.', 'danger');
		    });
		}
		}
		
	function removeCoClient() {
	    var csrfToken = document.querySelector('meta[name="_csrf"]').getAttribute('content');
	    var csrfHeader = document.querySelector('meta[name="_csrf_header"]').getAttribute('content');
	
	    if (confirm("Are you sure you want to remove this CoClient?")) {
	        $.ajax({
	            url: `/removeCoClient/${householdId}/${clientId}`,
	            type: 'PATCH',
	            headers: {
	                'Accept': 'text/plain',
	                'Content-Type': 'application/json',
	                [csrfHeader]: csrfToken
	            },
	            success: function(response) {
	                showMessageBanner('CoClient Successfully Removed!', 'success');
	                if (pcId > 0) {
	                    updatePrimaryContact().then(function() {
	                        reloadHouseholdSection();
	                    }).catch(function(error) {
	                        showMessageBanner('Failed to update the primary contact. Error: ' + error.message, 'danger');
	                    });
	                } else {
	                    window.location.reload();
	                }
	            },
	            error: function(xhr, status, error) {
	                showMessageBanner('Failed to remove the CoClient. Error: ' + xhr.responseText, 'danger');
	            }
	        });
	    }
	}
	
	function updatePrimaryContact() {
	    var csrfToken = document.querySelector('meta[name="_csrf"]').getAttribute('content');
	    var csrfHeader = document.querySelector('meta[name="_csrf_header"]').getAttribute('content');
	
	    $.ajax({
	        url: `/promoteToPrimaryContact/${householdId}/${pcId}`,
	        type: 'PATCH',
	        headers: {
	            'Accept': 'text/plain',
	            'Content-Type': 'application/json',
	            [csrfHeader]: csrfToken
	        },
	        success: function(response) {
	            showMessageBanner('Primary Contact updated successfully', 'success');
	                location.reload();
	        },
	        error: function(xhr, status, error) {
	            showMessageBanner('Failed to update Primary Contact. Error: ' + xhr.responseText, 'danger');
	        }
	    });
	}
	
	
	function reloadHouseholdSection() {
	    $.ajax({
	        url: '/householdFragment/' + clientId,
	        type: 'GET',
	        success: function(fragment) {
	            $('#householdSection').html(fragment); // Replace household section content
	        },
	        error: function(xhr, status, error) {
	            console.error('Error reloading household section:', error);
	        }
	    });
	}
	




	
	
    </script>
    <div th:insert="~{footer :: main}">...</div>
</body>
</html>

