<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Client Profile</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <meta name="_csrf" th:content="${_csrf.token}" />
    <meta name="_csrf_header" th:content="${_csrf.headerName}" />
    <!-- Include jQuery library -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</head>

<body data-client-id="${clientId}">
    <div th:insert="~{header :: main}">...</div>

    <div class="container">
        <div id="messageBanner" class="alert" role="alert" style="display: none;"></div>
        <!-- Client Information -->
        <div class="note_card">
            <fieldset>
                <legend>Household</legend>
                <div class="row mb-3">
                    <div class="col-md-3">
                        <label>Name:</label>
                        <span th:text="${client.name}"></span>
                    </div>
                </div>
                <!-- CoClients -->
                <div class="row mb-3" th:if="${primaryContact != null}">
                    <div class="col-md-3">
                        <label>Primary Contact:</label>
                        <span th:each="client : ${primaryContact}" th:text="${client.firstName + ' ' + client.lastName}"></span>
                    </div>
                    <div class="col-md-3">
                        <label>Email:</label>
                        <span th:each="client : ${primaryContact}" th:text="${client.email}"></span>
                    </div>
                    <div class="col-md-3">
                        <a class="btn btn-sm btn-secondary" th:each="client : ${primaryContact}" th:href="${'javascript:editClient(' + client.id + ');'}">Edit</a>
                    </div>
                </div>
                <div class="row mb-3" th:if="${primaryContact == null}">
                    <div class="col-md-12">
                        <p>No primary contact available</p>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-12">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>CoClients</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="coclient : ${coClientList}">
                                    <td th:text="${coclient.firstName + ' ' + coclient.lastName}"></td>
                                    <td>
                                        <a class="btn btn-sm btn-secondary" th:href="${'javascript:editClient(' + coclient.id + ');'}">Edit</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-3">
                    <div class="input-group">
                        <select class="form-select" id="coClientSelect">
                            <option value="">Select CoClient</option>
                            <!-- Populate dropdown menu with CoClient list -->
                            <option th:each="coClient : ${userList}" th:value="${coClient.id}" th:text="${coClient.firstName} + ' ' + ${coClient.lastName}"></option>
                        </select>
                        <button class="btn btn-primary" type="button" onclick="addCoClient()">Add CoClient</button>
                    </div>
                </div>

                <button onclick="history.back()" class="btn btn-primary">Back</button>
                <br>

            </fieldset>

        </div>
    </div>
    <div class="container" id="dependentSection">
        <!-- Dependents Information -->
        <div class="note_card">
            <fieldset>
                <legend>Dependents</legend>
                <ul class="nav nav-tabs" id="dependentTabs" role="tablist">
                    <li class="nav-item" th:each="dependent, iterStat : ${dependants}" role="presentation">
                        <button class="nav-link" th:id="'dependent-tab' + ${iterStat.index}" data-bs-toggle="tab" th:data-bs-target="'#dependent' + ${iterStat.index}" type="button" role="tab" th:text="${dependent.firstName} + ' ' + ${dependent.lastName}"></button>
                    </li>
                </ul>
                <div class="tab-content" id="dependentTabsContent">
                    <div th:each="dependent, iterStat : ${dependants}" class="tab-pane fade" th:id="'dependent' + ${iterStat.index}" role="tabpanel">
                        <div>
                            <label>Name:</label>
                            <span th:text="${dependent.firstName} + ' ' + ${dependent.lastName}"></span>
                        </div>
                    </div>
                </div>
                <button class="btn btn-sm btn-secondary" onclick="toggleDependentForm()">Add Dependent</button>
                <div id="dependentFormContainer" style="display: none;">
                    <label>Email Address:</label>
                    <input type="email" id="dependentEmail" class="form-control">
                    <label>First Name:</label>
                    <input type="text" id="dependentFirstName" class="form-control">
                    <label>Last Name:</label>
                    <input type="text" id="dependentLastName" class="form-control">
                    <button class="btn btn-primary mt-2" onclick="confirmAddDependent()">Confirm</button>
                </div>
            </fieldset>
        </div>
    </div>
    <div class="container">
        <div class="note_card">
            <fieldset>
                <legend>Assigned Protocols</legend>
                <div class="row">
                    <div class="col-3">
                        <button type="button" class="btn btn-primary" onclick="addProtocol();">Add Protocol</button>
                        <button type="button" class="btn btn-primary" onclick="viewHistory();">View All Protocols</button>
                    </div>
                    <div id="protocolContainer"></div>
                </div><br />
                <ul class="nav nav-tabs">
                    <li class="nav-item tab"><a class="nav-link active" href="#" onclick="filterProtocolsByStatus('all'); return false;">All</a></li>
                    <li class="nav-item tab"><a class="nav-link" href="#" onclick="filterProtocolsByStatus('IN_PROGRESS'); return false;">Active Protocols</a></li>
                    <li class="nav-item tab"><a class="nav-link" href="#" onclick="filterProtocolsByStatus('COMPLETED'); return false;">Completed Protocols</a></li>
                    <li class="nav-item tab"><a class="nav-link" href="#" onclick="filterProtocolsByStatus('ARCHIVED'); return false;">Archived Protocols</a></li>
                </ul>
                <div class="row">
                    <div class="col-2">
                        <input type="text" id="protocolSearch" class="form-control" placeholder="Search protocols...">
                    </div>
                </div>
                <div class="row" id="protocolContent">
                    <!-- Display Assigned Protocols -->
                    <div th:each="pcol, status: ${assignedProtocols}" th:id="|row_${pcol.id}|" class="note_card col-md-5" th:data-type="${pcol.status}">
                        <a href="#" th:onclick="'viewProtocol(' + ${pcol.id} + ');'">

                            <div class="flip-card ">
                                <div class="flip-card-inner">
                                    <div class="flip-card-front">
                                        <div class="container">
                                            <div class="row" th:text="${pcol.name}"></div>
                                            <hr />
                                            <div class="row">
                                                <div class="row col-md-6" th:text="|Goal: ${pcol.goal}|"></div>
                                                <div class="row col-md-6" th:text="|Progress: ${pcol.progress}|"></div>
                                            </div>
                                            <div class="row">
                                                <div class="row col-md-6" th:text="|Total Steps: ${pcol.stepCount}|"></div>
                                                <div class="row col-md-6" th:text="|Completed: ${pcol.completedSteps}|"></div>
                                            </div>
                                            <div class='row' th:text="|Description: ${pcol.description}"></div>
                                            <hr />
                                            <!-- Actionable Items Section -->
                                            <li th:each="step : ${pcol.steps}" th:if="${step.status != 'DONE'}" th:text="${step.name + ' - ' + (step.status == 'TODO' ? 'To Do' : (step.status == 'IN_PROGRESS' ? 'In Progress' : (step.status == 'DONE' ? 'Done' : (step.status == 'CONDITIONAL_COMPLETION' ? 'Conditional Completion' : step.status))))}"></li>

                                        </div>
                                    </div>
                                    <div class="flip-card-back">
									    <p>Education:</p>
									    <ul th:id="|ed_${pcol.id}|">
									        <li th:each="step : ${pcol.steps}" th:if="${step.status != 'DONE' && step.categoryName == 'Share Education'}">
									            <span th:text="${step.name + ' - ' + 
									                (step.status == 'TODO' ? 'To Do' : 
									                (step.status == 'IN_PROGRESS' ? 'In Progress' : 
									                (step.status == 'CONDITIONAL_COMPLETION' ? 'Conditional Completion' : step.status)))}"></span>
									        </li>
									    </ul>
									    <script>
											var ed_sect = document.getElementById("ed_[[${pcol.id}]]");
											if (ed_sect.innerHTML.trim() == "") {
												ed_sect.innerHTML = "<H4>No education items currently available.</H4>";
											}
										</script>
									</div>
                                </div>
                            </div>
                        </a>
                        <div class="row">
                            <div class="col-md-3">
                                <button type="button" class="btn btn-secondary" onclick="flipCard(this.closest('.note_card').querySelector('.flip-card'))">Flip</button>
                            </div>
                            <div class="col-md-8">
                                <button class="btn btn-secondary" th:attr="onclick=|goToHomeworks('${pcol.id}');|">Homework</button>&nbsp;&nbsp;
                                <button class="btn btn-secondary" th:attr="onclick=|viewAnalysis('${pcol.id}');|">Analysis</button>&nbsp;&nbsp;
                                <button class="btn btn-secondary" th:attr="onclick=|protocolHistory('${pcol.name}');|">History</button>&nbsp;&nbsp;
                                <button class="btn btn-secondary" th:attr="onclick=|viewRecommendations('${pcol.id}');|">Recommendations</button>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>

    <!--template for new protocol drop down -->
    <template id="protocolTemplate">
        <div class="new-protocol-row mb-3">
            <select class="form-control" name="newProtocolId">
                <option value="">Select Protocol</option>
                <option th:each="protocol : ${protocolList}" th:value="${protocol.id}" th:text="${protocol.name}"></option>
            </select>
            <button type="button" class="btn btn-secondary" onclick="confirmProtocol(this);">Confirm</button>
        </div>
    </template>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script th:inline="javascript">
        var clientId = [[${clientId}]];

        function showMessageBanner(message, type) {
            const banner = document.getElementById('messageBanner');
            banner.className = 'alert alert-' + type;
            banner.textContent = message;
            banner.style.display = 'block';
        }

        function viewProtocol(id){
            window.location = '/viewProtocol/'+id+ '/'+ clientId;
        }

        function addDependant(id){
            window.location = '/createDependant/'+id;
        }

        function viewAnalysis(id){
            window.location= '/analysis/'+id;
        }

        function viewHistory(){
            window.location='/allClientProtocols/'+clientId;
        }

        function protocolHistory(name){
            window.location='/protocolHistory/'+clientId+'/'+name;
        }

        function viewRecommendations(id){
            window.location= '/protocolRecommendations/'+id +'/'+clientId;
        }

        function goToHomeworkTemplates() {
            window.location.href = '/homeworkList/';
        }

        function goToHomeworks(id) {
            window.location.href = '/homeworkList/'+id;
        }

        function editClient(id){
            window.location.href= '/changeClientInfo/'+id;
        }

        var firstTabEl = document.querySelector('#dependentTabs .nav-link');
        var firstTab = new bootstrap.Tab(firstTabEl);
        var apTracker = true; 

        if (firstTabEl) {
            firstTab.show();
        }

        function addProtocol() {
            if (!apTracker) {
                console.log("addProtocol: Prevented from spawning multiple lines.");
                return; 
            }
            
            console.log("addProtocol: Function called.");
            const container = document.querySelector("#protocolContainer");
            if (container) {
                console.log("addProtocol: Container found.");
            } else {
                console.error("addProtocol: #protocolContainer not found.");
                return; 
            }
            const template = document.querySelector("#protocolTemplate").content.cloneNode(true);
            container.appendChild(template);
            console.log("addProtocol: Protocol added to container.");
            apTracker = false; 
        }

        function confirmProtocol(buttonElement) {
            console.log("confirmProtocol: Function called.");

            var csrfTokenElement = document.querySelector('meta[name="_csrf"]');
            var csrfHeaderElement = document.querySelector('meta[name="_csrf_header"]');
            var csrfToken = csrfTokenElement ? csrfTokenElement.getAttribute('content') : 'no_token';
            var csrfHeader = csrfHeaderElement ? csrfHeaderElement.getAttribute('content') : 'no_header';
            if (csrfTokenElement && csrfHeaderElement) {
                console.log("confirmProtocol: CSRF elements found.");
            } else {
                console.error("confirmProtocol: CSRF elements not found. This will cause the fetch call to fail.");
            }

            var selectElement = buttonElement.previousElementSibling;
            var protocolId = selectElement ? selectElement.value : null;
            const popupWidth = 800;
            const popupHeight = 400;
            const left = (screen.width - popupWidth) / 2;
            const top = (screen.height - popupHeight) / 2;
            window.open(`/extraInfoPopUp/${clientId}/${protocolId}`, 'extraInfoPopUp', `width=${popupWidth},height=${popupHeight},top=${top},left=${left}`);
            if (protocolId) {
                console.log(`confirmProtocol: Selected protocol ID is ${protocolId}.`);
            } else {
                console.error("confirmProtocol: No protocol ID selected.");
                return;
            }

            /*$.ajax({
                url: `/addClientToProtocol/[[${clientId}]]/` + protocolId,
                type: 'POST',
                headers: {
                    'Accept': 'application/json, text/plain', // Accept both JSON and plain text responses
                    'Content-Type': 'application/json',
                    'X-CSRF-TOKEN': csrfToken
                },
                success: function(response) {
                    apTracker = true;
                    window.location.reload(); // Reload page if successful
                },
                error: function(xhr, status, error) {
                    console.error('Error adding step:', error);
                    alert('Failed to add the Protocol. Error: ' + xhr.responseText);
                }
            });*/
        }

        document.addEventListener('DOMContentLoaded', function () {
            var searchField = document.getElementById('protocolSearch');

            searchField.addEventListener('input', function () {
                var searchTerm = this.value.toLowerCase();

                var protocols = document.querySelectorAll('.note_card.col-md-5');

                protocols.forEach(function (protocol) {
                    var nameElement = protocol.querySelector('.flip-card-front .container .row:first-child');
                    var goalElement = protocol.querySelector('.flip-card-front .container .row:nth-child(3) .row');
                    var progressElement = protocol.querySelector('.flip-card-front .container .row:nth-child(4) .row');
                    var descriptionElement = protocol.querySelector('.flip-card-front .container .row:nth-child(5)');

                    var name = nameElement ? nameElement.textContent.toLowerCase() : '';
                    var goal = goalElement ? goalElement.textContent.toLowerCase() : '';
                    var progress = progressElement ? progressElement.textContent.toLowerCase() : '';
                    var description = descriptionElement ? descriptionElement.textContent.toLowerCase() : '';

                    var isMatch = name.includes(searchTerm) || goal.includes(searchTerm) || progress.includes(searchTerm) || description.includes(searchTerm);

                    var steps = protocol.querySelectorAll('.flip-card-back li');
                    steps.forEach(function (step) {
                        var stepName = step.textContent.toLowerCase();
                        if (stepName.includes(searchTerm)) {
                            isMatch = true;
                        }
                    });

                    protocol.style.display = isMatch ? '' : 'none';
                });
            });
        });

        function filterProtocolsByStatus(status) {
            const protocols = document.querySelectorAll('#protocolContent > div');
            let visibleProtocolsCount = 0;

            console.log(`Filtering protocols by status: ${status}`);

            protocols.forEach(protocol => {
                console.log(`Protocol status: ${protocol.getAttribute('data-type')}`);
                if (status === 'all' || protocol.getAttribute('data-type') === status) {
                    protocol.style.display = '';
                    visibleProtocolsCount++;
                } else {
                    protocol.style.display = 'none';
                }
            });

            console.log(`Total visible protocols: ${visibleProtocolsCount}`);

            const noProtocolsMessage = document.getElementById('noProtocolsMessage');
            if (visibleProtocolsCount === 0) {
                if (!noProtocolsMessage) {
                    const message = document.createElement('div');
                    message.id = 'noProtocolsMessage';
                    message.className = 'alert alert-warning';
                    message.textContent = 'No protocols found for this status';
                    document.getElementById('protocolContent').appendChild(message);
                } else {
                    noProtocolsMessage.style.display = '';
                }
            } else if (noProtocolsMessage) {
                noProtocolsMessage.style.display = 'none';
            }
        }

        function flipCard(card) {
            if (card) {
                card.classList.toggle('do-flip');
            } else {
                console.error("No card element found");
            }
        }
        
        function addCoClient() {
            const selectedCoClientId = document.getElementById('coClientSelect').value;
            if (selectedCoClientId) {
                $.ajax({
                    url: `/addCoClient/${clientId}/${selectedCoClientId}`,
                    type: 'PATCH',
                    headers: {
                        'Accept': 'application/json, text/plain',
                        'Content-Type': 'application/json',
                        'X-CSRF-TOKEN': $('meta[name="_csrf"]').attr('content')
                    },
                    success: function(response) {
                        if (response.message) {
                            showMessageBanner(response.message, 'success');
                            window.location.reload();
                        } else if (response.error) {
                            showMessageBanner(response.error, 'danger');
                        }
                    },
                    error: function(xhr, status, error) {
                        console.error('Error adding CoClient:', error);
                        showMessageBanner('Failed to add the CoClient. Error: ' + xhr.responseText, 'danger');
                    }
                });
            } else {
                showMessageBanner('Please select a CoClient first.', 'warning');
            }
        }

        function toggleDependentForm() {
            const formContainer = document.getElementById('dependentFormContainer');
            formContainer.style.display = formContainer.style.display === 'none' ? 'block' : 'none';
        }

        function confirmAddDependent() {
			var csrfToken = document.querySelector('meta[name="_csrf"]').getAttribute('content');
            var csrfHeader = document.querySelector('meta[name="_csrf_header"]').getAttribute('content');
            
            const dependent = {
                email: document.getElementById('dependentEmail').value,
                firstName: document.getElementById('dependentFirstName').value,
                lastName: document.getElementById('dependentLastName').value,
                roles: [2]
            };

            $.ajax({
                url: `/createAndAssignDependent/${clientId}`,
                type: 'POST',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json',
                    [csrfHeader]: csrfToken
                },
                data: JSON.stringify(dependent),
                success: function(response) {
                    showMessageBanner('Dependent Successfully Created and Assigned', 'success');
                    loadDependents();
                },
                error: function(xhr, status, error) {
                    showMessageBanner('Failed to add the Dependent. Error: ' + xhr.responseText, 'danger');
                }
            });
        }

        function loadDependents() {
            $.ajax({
                url: `/getDependents/${clientId}`,
                type: 'GET',
                success: function(response) {
                    $('#dependentSection').html(response);
                },
                error: function(xhr, status, error) {
                    console.error('Error loading dependents:', error);
                }
            });
        }
    </script>
    <div th:insert="~{footer :: main}">...</div>
</body>

</html>


