<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Client Profile</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
	<meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>

<body data-client-id="${clientId}">
	<div th:insert="~{header :: main}">...</div>

	<div class="container">
		<!-- Client Information -->
		<div class="note_card">
			<fieldset>
				<legend>Client</legend>
				<div>
					<label>Client Name:</label>
					<span th:text="${client.firstName} + ' ' + ${client.lastName}"></span>
				</div>
				<div>
					<label>Email:</label>
					<span th:text="${client.email}"></span>
				</div>
				<div>
					<label>CoClient:</label>
					<span th:text="${coclient.firstName} + ' ' + ${coclient.lastName}"></span>
				</div>
				<div>
					<label>Roles:</label>
					<span th:text="${#strings.arrayJoin(client.roles, ' ')}"></span>
				</div>
			</fieldset>
		</div>
	</div>

	<div class="container">
		<!-- Dependents Information -->
		<div class="note_card">
			<fieldset>
				<legend>Dependents</legend>
				<ul class="nav nav-tabs" id="dependentTabs" role="tablist">
					<li class="nav-item" th:each="dependent, iterStat : ${client.dependents}" role="presentation">
						<button class="nav-link" th:id="'dependent-tab' + ${iterStat.index}" data-bs-toggle="tab"
							th:data-bs-target="'#dependent' + ${iterStat.index}" type="button" role="tab"
							th:text="${dependent.firstName} + ' ' + ${dependent.lastName}"></button>
					</li>
				</ul>
				<div class="tab-content" id="dependentTabsContent">
					<div th:each="dependent, iterStat : ${client.dependents}" class="tab-pane fade"
						th:id="'dependent' + ${iterStat.index}" role="tabpanel">
						<div>
							<label>Id:</label>
							<span th:text="${dependent.id}"></span>
						</div>
						<div>
							<label>Username:</label>
							<span th:text="${dependent.username}"></span>
						</div>
						<div>
							<label>Name:</label>
							<span th:text="${dependent.firstName} + ' ' + ${dependent.lastName}"></span>
						</div>
					</div>
				</div>
			</fieldset>
		</div>
	</div>

	<div class="container">
		<div class="note_card">
			<fieldset>
				<legend>Assigned Protocols</legend>
				<div class="row">
					<div class="col-2">
						<input type="text" id="protocolSearch" class="form-control" placeholder="Search protocols...">
					</div>
				</div>
				<div class="row">
					<div th:each="pcol, status: ${assignedProtocols}" th:id="|row_${pcol.id}|"
						class="note_card col-md-5">
						<a th:href="@{/viewProtocol/{id}(id=${pcol.id})}">
						<div class=" flip-card">
							<div class="flip-card-inner">
								<div class="flip-card-front">
									<div class="container">
										<div class="row" th:text="${pcol.name}"></div>
										<hr />
										<div class="row">
											<div class="row col-md-6" th:text="|Total Steps: ${stepCount}|"></div>
											<div class="row col-md-6" th:text="|Completed: ${completeCount}|"></div>
										</div>
										<div class="row">
											<div class="row" th:text="|Goal: ${pcol.goal}|"></div>
											<div class='row'  th:text="|Description: ${pcol.description}"></div>
										</div>
										<div class="row">
											<div class="row" th:text="|Progress: ${pcol.progress}|"></div>
										</div>
									</div>
								</div>
								<div class="flip-card-back">
									<h1>Education</h1>
									<p>1. Here is an internal source...</p>
									<p>2. Check out this link...</p><br />
								</div>
							</div>
	
						</div>
						</a>
						<div class="col">		
													<button class="button" onclick="goToHomeworkTemplates()">Button A</button>
													<button class="button" onclick="goToHomeworkTemplates()">Button B</button>
													<button class="button" onclick="goToHomeworkTemplates()">Button C</button>

						</div>
						<button type="button" onclick="flipCard(this.parentNode.querySelector('.flip-card'))">Flip</button>
					</div>
				</div>
				
				<div class="col-2">
						<button type="button" class="btn btn-primary" onclick="addProtocol();">Add Protocol</button>
					</div>
			</fieldset>
			<div id="protocolContainer"></div>
			</fieldset>
		</div>
		
		
		<!--template for new protocol drop down -->
		<template id="protocolTemplate">
			<div class="new-protocol-row mb-3">
				<select class="form-control" name="newProtocolId">
					<option value="">Select Protocol</option>
					<option th:each="protocol : ${protocolList}" th:value="${protocol.id}" th:text="${protocol.name}">
					</option>
				</select>
				<button type="button" class="btn btn-secondary" onclick="confirmProtocol(this);">Confirm</button>
			</div>
		</template>

	</div>


	<div class="container mt-3">
		<button onclick="history.back()" class="btn btn-primary">Back</button>
	</div>


	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

	<script th:inline="javascript">
		// Activate the first tab by default
		var firstTabEl = document.querySelector('#dependentTabs .nav-link');
		var firstTab = new bootstrap.Tab(firstTabEl);
		var clientId = [[${clientId}]];

		if (firstTabEl) {
			firstTab.show();
		}

		function addProtocol() {
			console.log("addProtocol: Function called.");
			const container = document.querySelector("#protocolContainer");
			if (container) {
				console.log("addProtocol: Container found.");
			} else {
				console.error("addProtocol: #protocolContainer not found.");
			}
			const template = document.querySelector("#protocolTemplate").content.cloneNode(true);
			container.appendChild(template);
			console.log("addProtocol: Protocol added to container.");
		}

		function confirmProtocol(buttonElement) {
			console.log("confirmProtocol: Function called.");

			// Retrieve CSRF token elements
			var csrfTokenElement = document.querySelector('meta[name="_csrf"]');
			var csrfHeaderElement = document.querySelector('meta[name="_csrf_header"]');
			var csrfToken = csrfTokenElement ? csrfTokenElement.getAttribute('content') : 'no_token';
			var csrfHeader = csrfHeaderElement ? csrfHeaderElement.getAttribute('content') : 'no_header';
			if (csrfTokenElement && csrfHeaderElement) {
				console.log("confirmProtocol: CSRF elements found.");
			} else {
				console.error("confirmProtocol: CSRF elements not found. This will cause the fetch call to fail.");
			}

			// Retrieve selected protocol ID
			var selectElement = buttonElement.previousElementSibling;
			var protocolId = selectElement ? selectElement.value : null;
			if (protocolId) {
				console.log(`confirmProtocol: Selected protocol ID is ${protocolId}.`);
			} else {
				console.error("confirmProtocol: No protocol ID selected.");
				return; // Exit the function if no protocol ID is selected
			}

			// Perform the PATCH request
			fetch(`/addClientToProtocol/${clientId}/${protocolId}`, {
				method: 'POST',
				headers: {
					'Accept': 'application/json',
					'Content-Type': 'application/json',
					[csrfHeader]: csrfToken
				},
				credentials: 'include'
			})
				.then(response => {
					console.log(`confirmProtocol: Fetch response status is ${response.status}.`);
					if (response.ok) {
						alert("Step added successfully.");
						window.location.reload(); // Reload page if successful
					} else {
						response.text().then(text => {throw new Error(text);});
					}
				})
				.catch(error => {
					console.error('Error adding step:', error);
					alert('Failed to add the Protocol. Error: ' + error.message);
				});
				
		}
		
		
		document.addEventListener('DOMContentLoaded', function() {
		    var searchField = document.getElementById('protocolSearch');
		
		    searchField.addEventListener('input', function() {
		        var searchTerm = this.value.toLowerCase();
		        
		        // Select all protocol entries
		        var protocols = document.querySelectorAll('.note_card.col-md-5');
		
		        protocols.forEach(function(protocol) {
		            // Query for name, goal, and progress elements within each protocol card
		            var nameElement = protocol.querySelector('.flip-card-front .container .row:first-child');
		            var goalElement = protocol.querySelector('.flip-card-front .container .row:nth-child(3) .row');
		            var progressElement = protocol.querySelector('.flip-card-front .container .row:nth-child(4) .row');
		
		            // Extract text content if elements are found, otherwise use an empty string
		            var name = nameElement ? nameElement.textContent.toLowerCase() : '';
		            var goal = goalElement ? goalElement.textContent.toLowerCase() : '';
		            var progress = progressElement ? progressElement.textContent.toLowerCase() : '';
		            
		            // Check if the protocol card should be displayed based on the search term presence
		            if (name.includes(searchTerm) || goal.includes(searchTerm) || progress.includes(searchTerm)) {
		                protocol.style.display = ''; // Show the protocol card
		            } else {
		                protocol.style.display = 'none'; // Hide the protocol card
		            }
		        });
		    });
		});
		
		function flipCard(card) {
		    card.classList.toggle('do-flip');
		}
		
		function goToHomeworkTemplates() {
		    window.location.href = '/homeworkTemplates/';
		}

	</script th:inline="javascript">
</body>
<div th:insert="~{footer :: main}">...</div>

</html>