<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>Protocol Details</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</head>
<body>
<div th:insert="~{header :: main}">...</div>

<div id="banner" class="alert" role="alert" style="display: none;"></div>
<div class="container">

    <!-- Protocol Details Display for Existing Protocol -->
    <div>
        <div class="row note_card">
            <fieldset>
                <legend>Protocol Template Details</legend>
                <div>
                    <form action="#" th:action="@{/saveProtocol}" th:object="${protocol}" method="post">
                        <div class="row">
                            <div class="col-md-1">
                                <label for="name" class="mr-md-3"><strong>Name:</strong></label>
                            </div>
                            <div class="col-md-11">
                                <input type="text" id="name" name="name" th:value="${protocol.name}" class="form-control" />
                            </div>

                            
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-1">
                                <label for="description"><strong>Description:</strong></label>
                            </div>
                            <div class="col-md-11">
                                <input type="text" id="description" name="description" th:value="${protocol.description}" class="form-control"/>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="row mt-3">
                    <div class="col-md-2">
                        <label for="dueDate" class="mr-md-1"><strong>Default Due Date: </strong></label>
                    </div>
                    <div class="col-md-2">
                        <label for="dueDateYear" class="d-inline"><strong>Year</strong></label>
                        <input type="number" class="form-control d-inline" id="dueDateYear" name="year" placeholder="1-10" min="0" max="10" style="width: 40%;">
                    </div>
                    <div class="col-md-2">
                        <label for="dueDateMonth" class="d-inline"><strong>Month</strong></label>
                        <input type="number" class="form-control d-inline" id="dueDateMonth" name="month" placeholder="1-12" min="0" max="12" style="width: 40%;">
                    </div>
                    <div class="col-md-2">
                        <label for="dueDateDay" class="d-inline"><strong>Day</strong></label>
                        <input type="number" class="form-control d-inline" id="dueDateDay" name="day" placeholder="1-31" min="0" max="31" style="width: 40%;">
                    </div>
                </div>
                <br>
				 <div class="border border-dark p-3 mb-3">
	                <div class="row">
	                    <div class="col-md-2">
	                        <label for="reoccurring" class="mr-md-"><strong>Default as Reoccurring?</strong></label>
	                        <input type="checkbox" id="reoccurring" name="reoccurring"/>
	                    </div>
	                </div>
	
	                <div id="schedule-fields" style="display: none;">
	                    <div class="row mt-3">
	                        <div class="col-md-2">
	                            <label for="schedule" class="mr-md-1"><strong>Default Schedule?</strong></label>
	                        </div>
	                        <div class="col-md-2">
	                            <label for="year" class="d-inline"><strong>Year</strong></label>
	                            <input type="number" class="form-control d-inline" id="year" name="year" placeholder="1-10" min="0" max="10" style="width: 40%;">
	                        </div>
	                        <div class="col-md-2">
	                            <label for="month" class="d-inline"><strong>Month</strong></label>
	                            <input type="number" class="form-control d-inline" id="month" name="month" placeholder="1-12" min="0" max="12" style="width: 40%;">
	                        </div>
	                        <div class="col-md-2">
	                            <label for="day" class="d-inline"><strong>Day</strong></label>
	                            <input type="number" class="form-control d-inline" id="day" name="day" placeholder="1-31" min="0" max="31" style="width: 40%;">
	                        </div>
	                    </div>
	                </div>
				</div>
                <button onclick="history.back()" class="btn btn-primary">Back</button>
                <button type="button" class="btn btn-primary" th:attr="onclick='deleteProtocolTemplate('+${protocol.id}+');'">Delete</button>
                <button type="button" class="btn btn-success" th:attr="onclick='saveProtocol('+${protocol.id}+');'">Save Protocol</button>
            </fieldset>
        </div>
    </div>

    <div class="row note_card">
        <fieldset>
            <legend>Assigned Homework</legend>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Homework Name</th>
                            <th>Step Name</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Initialize a variable to track if any homework is displayed -->
                        <th:block th:with="hasHomework=false">
                            <!-- Loop through each step -->
                            <th:block th:each="step : ${steps}">
                                <!-- Loop through each homework of the step and only display if homework exists -->
                                <th:block th:each="homework : ${step.homework}">
                                    <!-- Check if the step has homework -->
                                    <th:block th:if="${not #lists.isEmpty(step.homework)}" th:with="hasHomework=true">
                                        <tr>
                                            <td th:text="${homework.name}">[Homework Name]</td>
                                            <td th:text="${step.name}">[Step Name]</td>
                                            <td>
                                                <button type="button" class="btn btn-primary" th:attr="onclick='viewHomeworkDetails('+${homework.id}+');'">Details</button>
                                            </td>
                                        </tr>
                                    </th:block>
                                </th:block>
                            </th:block>
                        </th:block>
                    </tbody>
                </table>
            </div>
        </fieldset>
    </div>

    <!-- Steps Section with Tabs -->
    <div class="row note_card">
        <fieldset>
            <legend>Steps</legend>
            
            <!-- Tabs for filtering steps -->
            <ul class="nav nav-tabs">
                <li class="nav-item tab"><a class="nav-link active" href="#" data-type="all">All</a></li>
                <li class="nav-item tab"><a class="nav-link" href="#" data-type="1">Gather Data</a></li>
                <li class="nav-item tab"><a class="nav-link" href="#" data-type="2">Run Analysis</a></li>
                <li class="nav-item tab"><a class="nav-link" href="#" data-type="3">Craft Recommendations</a></li>
                <li class="nav-item tab"><a class="nav-link" href="#" data-type="4">Share Education</a></li>
            </ul>

            <div id="stepsContent">
                <div th:each="step, status : ${steps}" th:id="|row_${step.id}|"
                     th:class="${status.index % 2 == 0 ? 'row even' : 'row odd'}" th:data-type="${step.categoryId}">
                    <div class="col" th:text="${step.name}">[Step Name]</div>
                    <div class="col">
                        <button type="button" class="btn btn-secondary" th:attr="onclick='editProtocol('+${step.id}+');'">Details</button>
                        <button type="button" class="btn btn-secondary" th:attr="onclick='deleteStep('+${step.id}+');'">Delete</button>
                    </div>
                </div>
                <div th:if="${steps.empty}">
                    <p>No steps available.</p>
                </div>
            </div>
            <br>

            <!-- Template for adding new step -->
            <template id="stepTemplate">
                <div class="new-step-row">
                    <select class="form-control" name="newid">
                        <option th:each="step : ${allSteps}" th:value="${step.id}" th:text="${step.name}"></option>
                    </select>
                    <button type="button" class="btn btn-secondary" onclick="confirmStep(this);">Confirm</button>
                </div>
            </template>
            <div id="stepsContainer">
                <!-- New step rows will be appended here -->
            </div>
            <br>
            
            <button type="button" class="btn btn-primary" onclick="newStep();">New Step</button>
            <button type="button" class="btn btn-primary" onclick="addStep();">Add Step</button>
        </fieldset>
    </div>
</div>

<script>
    var protocolId = [[${protocolId}]]; 
    var dueByDays = [[${dueBy}]];


    function newStep() {
        window.location = '/newStep/' + protocolId;
    }

    function addStep() {
        var stepsContainer = document.getElementById('stepsContainer');
        var stepTemplate = document.getElementById('stepTemplate').content.cloneNode(true);

        if (stepsContainer.children.length > 0) {
            stepsContainer.innerHTML = ''; // Clear the container if already populated
        } else {
            stepsContainer.appendChild(stepTemplate);
        }
    }

    function viewHomeworkDetails(homeworkId) {
        window.location = '/viewHomeworkDetails/' + homeworkId;
    }

    function editProtocol(id) {
        window.location = '/editStep/' + id;
    }

    function showBannerMessage(message, type) {
        var banner = document.getElementById('banner');
        banner.className = 'alert alert-' + type;
        banner.textContent = message;
        banner.style.display = 'block';
    }

    function saveProtocol(id) {
        var name = document.getElementById('name').value;
        var description = document.getElementById('description').value;

        var years = parseInt(document.getElementById('dueDateYear').value) || 0;
        var months = parseInt(document.getElementById('dueDateMonth').value) || 0;
        var days = parseInt(document.getElementById('dueDateDay').value) || 0;

        var totalDays = (years * 365) + (months * 31) + days;

        var csrfToken = document.querySelector('meta[name="_csrf"]').getAttribute('content');
        var csrfHeader = document.querySelector('meta[name="_csrf_header"]').getAttribute('content');

        var data = {
            name: name,
            description: description,
            dueDate: totalDays
        };

        fetch(`/updateProtocol/${id}`, {
            method: 'PATCH',
            headers: {
                'Content-Type': 'application/json',
                [csrfHeader]: csrfToken
            },
            body: JSON.stringify(data)
        })
        .then(response => {
            if (response.ok) {
                showBannerMessage("Protocol updated successfully.", "success");
                return response.json();
            } else {
                response.text().then(text => { throw new Error(text); });
            }
        })
        .then(data => console.log(data))
        .catch(error => {
            console.error('Error:', error);
            showBannerMessage('Failed to update the protocol. Error: ' + error.message, "danger");
        });
    }

    function deleteStep(id) {
        var csrfToken = document.querySelector('meta[name="_csrf"]').getAttribute('content');
        var csrfHeader = document.querySelector('meta[name="_csrf_header"]').getAttribute('content');

        fetch(`/removeStepFromTemplate/${protocolId}/${id}`, {
            method: 'DELETE',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json',
                [csrfHeader]: csrfToken
            }
        })
        .then(response => {
            if(response.ok) {
                showBannerMessage("Step deleted successfully.", "success");
                window.location.reload(); // if successful, reload page.
            } else {
                response.text().then(text => { throw new Error(text); });
            }
        })
        .catch(error => {
            console.error('Error deleting step:', error);
            showBannerMessage('Failed to delete the step. Error: ' + error.message, "danger");
        });
    }

     function confirmStep(buttonElement) {
        var csrfToken = document.querySelector('meta[name="_csrf"]').getAttribute('content');
        var csrfHeader = document.querySelector('meta[name="_csrf_header"]').getAttribute('content');

        var selectElement = buttonElement.previousElementSibling;
        var stepId = selectElement.value;

        // Check if the step already exists in the stepsContent table
        var stepExists = Array.from(document.querySelectorAll('#stepsContent > div')).some(function(stepElement) {
            return stepElement.id === 'row_' + stepId;
        });

        if (stepExists) {
            showBannerMessage('Step has already been assigned to template.', 'danger');
            return;
        }

        fetch(`/addStepToProtocol/` + protocolId + `/` + stepId, {
            method: 'PATCH',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json',
                [csrfHeader]: csrfToken
            }
        })
        .then(response => {
            if(response.ok) {
                showBannerMessage("Step added successfully.", "success");
                window.location.reload(); // if successful, reload page.
            } else {
                response.text().then(text => { throw new Error(text); });
            }
        })
        .catch(error => {
            console.error('Error adding step:', error);
            showBannerMessage('Failed to add the step. Error: ' + error.message, "danger");
        });
    }

    function deleteProtocolTemplate(Id) {
        var csrfTokenElement = document.querySelector('meta[name="_csrf"]');
        var csrfHeaderElement = document.querySelector('meta[name="_csrf_header"]');
        var csrfToken = csrfTokenElement ? csrfTokenElement.getAttribute('content') : 'no_token';
        var csrfHeader = csrfHeaderElement ? csrfHeaderElement.getAttribute('content') : 'no_header';

        fetch('/deleteTemplate/ProtocolTemplate/' + Id, {
            method: 'DELETE',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json',
                [csrfHeader]: csrfToken
            },
            credentials: 'include'
        })
        .then(response => {
            if (response.ok) {
                window.location.href = '/protocolTemplates';
            } else {
                showBannerMessage('Failed to delete Protocol Template.', 'danger');
            }
        })
        .catch(error => {
            console.error('Error:', error);
            showBannerMessage('Error deleting Protocol Template.', 'danger');
        });
    }

    $(document).ready(function() {
        $('#schedule-fields').hide(); 
        $('#reoccurring').change(function() {
            if ($(this).is(':checked')) {
                $('#schedule-fields').show();
            } else {
                $('#schedule-fields').hide();
            }
        });
    });
</script>
</body>
</html>
