<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>Protocol Details</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</head>
<body>
	<div th:insert="~{header :: main}">...</div>

<div id="banner" class="alert" role="alert" style="display: none;"></div>
<div class="container">
	
	
    <div class="row note_card">
        <fieldset>
            <legend>Protocol Template Details</legend>
            <div>
                <form action="#" th:action="@{/saveProtocol}" th:object="${protocol}" method="post">
                                        <div class="row">
                        <div class="col-md-1">
                            <label for="name" class="mr-md-3"><strong>Name:</strong></label>
                        </div>
                        <div class="col-md-5">
                            <input type="text" id="name" name="name" th:value="${protocol.name}" class="form-control" />
                        </div>
                        <div class="col-md-1">
                            <label for="status" class="mr-md-3"><strong>Status:</strong></label>
                        </div>
                        <div class="col-md-2">
                            <select id="status" name="status" class="form-control">
                                <option value="LIVE" th:selected="${protocol.status == 'LIVE'}">Live</option>
                                <option value="INACTIVE" th:selected="${protocol.status == 'INACTIVE'}">Inactive</option>
                                <option value="ARCHIVED" th:selected="${protocol.status == 'ARCHIVED'}">Archived</option>
                            </select>
                        </div>
                        <div class="col-md-1">
                            <label for="status" class="mr-md-3"><strong>Category:</strong></label>
                        </div>
                        <div class="col-md-2">
                            <select id="type" name="type" class="form-control">
                                <option value="EVENT_DRIVEN" th:selected="${protocol.type == 'EVENT_DRIVEN'}">Event Driven</option>
                                <option value="LIFECYCLE" th:selected="${protocol.type== 'LIFECYCLE'}">Life Cycle</option>
                            </select>
                        </div>
                        
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-1">
                            <label for="description"><strong>Description:</strong></label>
                        </div>
                        <div class="col-md-11">
                            <input type="text" id="description" name="description" th:value="${protocol.description}" class="form-control"/>
                        </div>
                    </div>
                </form>
            </div>



            <div class="row mt-3">
                <div class="col-md-2">
                    <label for="dueDate" class="mr-md-1"><strong>Default Due Date: </strong></label>
                </div>
                <div class="col-md-2">
                    <label for="dueDateYear" class="d-inline"><strong>Year</strong></label>
                    <input type="number" class="form-control d-inline" id="dueDateYear" name="year" th:value="${protocol.dueByYear}" min="0" max="10" style="width: 40%;">
                </div>
                <div class="col-md-2">
                    <label for="dueDateMonth" class="d-inline"><strong>Month</strong></label>
                    <input type="number" class="form-control d-inline" id="dueDateMonth" name="month" th:value="${protocol.dueByMonth}" min="0" max="12" style="width: 40%;">
                </div>
                <div class="col-md-2">
                    <label for="dueDateDay" class="d-inline"><strong>Day</strong></label>
                    <input type="number" class="form-control d-inline" id="dueDateDay" name="day" th:value="${protocol.dueByDay}" min="0" max="31" style="width: 40%;">
                </div>
            </div>
            <br>
            <div class="border border-dark p-3 mb-3">
                <div class="row">
                    <div class="col-md-2">
                        <label for="reoccurring" class="mr-md-"><strong>Default as Reoccurring?</strong></label>
                        <input type="checkbox" id="reoccurring" name="reoccurring"/>
                    </div>
                </div>
                <div id="schedule-fields" style="display: none;">
                    <div class="row mt-3">
                        <div class="col-md-2">
                            <label for="schedule" class="mr-md-1"><strong>Default Schedule?</strong></label>
                        </div>
                        <div class="col-md-2">
                            <label for="year" class="d-inline"><strong>Year</strong></label>
                            <input type="number" class="form-control d-inline" id="year" name="year" th:value= "${protocol.yearSchedule}" min="0" max="10" style="width: 40%;">
                        </div>
                        <div class="col-md-2">
                            <label for="month" class="d-inline"><strong>Month</strong></label>
                            <input type="number" class="form-control d-inline" id="month" name="month" th:value= "${protocol.monthSchedule}" min="0" max="12" style="width: 40%;">
                        </div>
                        <div class="col-md-2">
                            <label for="day" class="d-inline"><strong>Day</strong></label>
                            <input type="number" class="form-control d-inline" id="day" name="day" th:value= "${protocol.daySchedule}" min="0" max="31" style="width: 40%;">
                        </div>
                    </div>
                </div>
            </div>
            <button onclick="history.back()" class="btn btn-primary">Back</button>
            <button type="button" class="btn btn-primary" th:attr="onclick='deleteProtocolTemplate('+${protocol.id}+');'">Delete</button>
            <button type="button" class="btn btn-success" th:attr="onclick='saveProtocol('+${protocol.id}+');'">Save Protocol</button>

           

        </fieldset>
    </div>


        <div class="row note_card">
            <fieldset>
                <legend>Assign To User</legend>
                <div id="userContainer" class="mt-3" >
                    <select class="form-control col-9" id="userDropdown">
                        <option th:each="user : ${userList}" th:value="${user.id}" th:text="${user.firstName} + ' ' + ${user.lastName}"></option>
                    </select>
                    <button type="button" class="btn btn-secondary" onclick="confirmProtocol(this);">Submit</button>
                </div>
            </fieldset>
        </div>


    <div class="note_card mb-3">
        <fieldset>
            <legend>
                Homework Questions
            </legend>

            <ul class="nav nav-tabs" id="questionTabs" role="tablist">
                <li class="nav-item tab"><a class="nav-link nav-tab-link question-tab active" href="#"  data-type="0" onclick="loadQuestions(0)">All</a></li>
                <li class="nav-item tab"><a class="nav-link nav-tab-link question-tab" href="#"  data-type="1" onclick="loadQuestions(1)">Personal</a></li>
                <li class="nav-item tab"><a class="nav-link nav-tab-link question-tab" href="#"  data-type="2" onclick="loadQuestions(2)">Family</a></li>
                <li class="nav-item tab"><a class="nav-link nav-tab-link question-tab" href="#"  data-type="3" onclick="loadQuestions(3)">Goals</a></li>
                <li class="nav-item tab"><a class="nav-link nav-tab-link question-tab" href="#"  data-type="4" onclick="loadQuestions(4)">Insurance</a></li>
                <li class="nav-item tab"><a class="nav-link nav-tab-link question-tab" href="#"  data-type="5" onclick="loadQuestions(5)">Investments</a></li>
                <li class="nav-item tab"><a class="nav-link nav-tab-link question-tab" href="#"  data-type="6" onclick="loadQuestions(6)">Assets</a></li>
                <li class="nav-item tab"><a class="nav-link nav-tab-link question-tab" href="#"  data-type="7" onclick="loadQuestions(7)">Liabilities</a></li>
            </ul>

            <div id="homeworkContents" class="mt-3">
                <!-- Homework Questions will be dynamically loaded here -->
            </div>

            <div class="new-step-row col-5" id="addQuestionRow" style="display: none; ">
                <select class="form-control col-9" id="questionDropdown" name="newQuestionId">
                    <!--  TODO <option value="new">Create Question </option>. Adding this later. -->
                </select>
                <button type="button" class="btn btn-secondary col-3" onclick="confirmQuestion(this);">Confirm</button>
            </div>

            <button type="button" class="btn btn-primary" onclick="toggleAddQuestionRow();">Add Question</button>

            <div class="col-5"> <!--This might not be nessesary right this second. -->
                <div id="newQuestionsContainer">
                    <!-- New questions rows will be appended here -->
                </div>
            </div>
        </fieldset>
    </div>


    <div class="row note_card">
        <fieldset>
            <legend>Steps</legend>
            
            <!-- Tabs for filtering steps -->
			<ul class="nav nav-tabs">
			    <li class="nav-item tab"><a class="nav-link nav-tab-link step-tab active" href="#" data-type="0" onclick="loadSteps('0')">All</a></li>
			    <li class="nav-item tab"><a class="nav-link nav-tab-link step-tab" href="#" data-type="1" onclick="loadSteps(1)">Gather Data</a></li>
			    <li class="nav-item tab"><a class="nav-link nav-tab-link step-tab" href="#" data-type="2" onclick="loadSteps(2)">Run Analysis</a></li>
			    <li class="nav-item tab"><a class="nav-link nav-tab-link step-tab" href="#" data-type="3" onclick="loadSteps(3)">Craft Recommendations</a></li>
			    <li class="nav-item tab"><a class="nav-link nav-tab-link step-tab" href="#" data-type="4" onclick="loadSteps(4)">Share Education</a></li>
			</ul>

            <div id="stepsContent">
                <!-- Steps will be dynamically loaded here -->
            </div>
            <br>

            <!-- Template for adding new step -->
            <div class="new-step-row col-5" id="addStepRow" style="display: none; ">
                <select class="form-control col-9" id="stepDropdown" name="newid">
                    <option value="new">Create New Step</option>
                </select>
                <button type="button" class="btn btn-secondary col-3" onclick="confirmStep(this);">Confirm</button>
            </div>
            
            <button type="button" class="btn btn-primary" onclick="toggleAddStepRow();">Add Existing Step</button>
            
            <div class="col-5">
            <div id="stepsContainer">
                <!-- New step rows will be appended here -->
            </div>

            </div>


        </fieldset>
    </div>
</div>



  </div>
<div class="container" id="newStepTemplate" style="display:none;">
    <div class="row note_card">
        <fieldset>
            <legend>New Step</legend>
            <div class="form-group">
                <div class="form-row">
                    <div class="form-group col-md-9">
                        <label for="stepName">Name:</label>
                        <input type="text" id="stepName" class="form-control">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="stepCategory">Category:</label>
                        <select class="form-control" id="stepCategory">
                            <option value="1">Gather Data</option>
                            <option value="2">Run Analysis</option>
                            <option value="3">Craft Recommendations</option>
                            <option value="4">Share Education</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="stepDetails">Description:</label>
                <textarea id="stepDetails" class="form-control" rows="3"></textarea>
            </div>
            <button type="button" class="btn btn-primary" onclick="hideNewStepTemplate()">Cancel</button>
            <button type="button" class="btn btn-success" onclick="saveStep()">Save Step</button>
        </fieldset>
    </div>
</div>




<script>
    var protocolId = [[${protocolId}]];
    var stepFilterValue = 0;
    var questionFilterValue = 0;


    function newStep() {
        window.location = '/newStep/' + protocolId;
    }

    function viewHomeworkDetails(homeworkId) {
        window.location = '/viewHomeworkTemplate/' + homeworkId + '/';
    }

    function editProtocol(id) {
        window.location = '/editStep/' + id;
    }

    function showMessageBanner(message, type) {
        var banner = $('#banner');
        banner.removeClass().addClass('alert alert-' + type).text(message).show();
    }
<!--   Step Section      -->
    function loadSteps(type) {
        stepFilterValue = type; // Set the global filter value
        $.ajax({
            url: `/getStepListFiltered/${type}`,
            type: 'GET',
            success: function(response) {
                updateStepDropdown(response);
                filterSteps(type);
            },
            error: function(xhr, status, error) {
                console.error('Error fetching steps:', error);
                var errorMessage = parseErrorMessage(xhr);
                showMessageBanner('Failed to fetch steps. Error: ' + errorMessage, "danger");
            }
        });
    }

    function addStep() {
        var stepsContainer = document.getElementById('stepsContainer');
        var stepTemplate = document.getElementById('stepTemplate').content.cloneNode(true);
        stepsContainer.appendChild(stepTemplate);
    }

    function saveStep() {
        var stepData = {
            "categoryId": document.getElementById("stepCategory").value,
            "categoryName": document.getElementById("stepCategory").options[document.getElementById("stepCategory").selectedIndex].text,
            "name": document.getElementById("stepName").value,
            "description": document.getElementById("stepDetails").value,
            "homework": Array.from(document.querySelectorAll("#homeworkTable tbody tr")).map(row => {
                return {
                    "id": parseInt(row.dataset.homeworkId),
                    "name": row.cells[0].textContent.trim()
                };
            })
        };

        console.log("Saving step data:", stepData); // Logging step data

        $.ajax({
            url: '/saveStep/',
            type: 'POST',
            contentType: 'application/json',
            headers: {
                'X-CSRF-TOKEN': document.querySelector('meta[name="_csrf"]').content
            },
            data: JSON.stringify(stepData),
            success: function(response) {
                console.log("Step saved successfully, response data:", response); // Logging response data
                try {
                    var parsedResponse = JSON.parse(response);
                    var stepId = parsedResponse.stepId;
                    if (stepId) {
                        console.log("Step being added: ", stepId);
                        showMessageBanner('Step saved successfully!', 'success');
                        addStepById(stepId);
                        document.getElementById('newStepTemplate').style.display = 'none';
                    } else {
                        console.error("Error in response:", parsedResponse.message);
                        showMessageBanner('Error saving step: ' + parsedResponse.message, 'danger');
                    }
                } catch (error) {
                    console.error("Error parsing response:", error);
                    showMessageBanner('Error saving step: ' + error.message, 'danger');
                }
            },
            error: function(jqXHR, textStatus, errorThrown) {
                console.error("AJAX error:", errorThrown);
                showMessageBanner('Error saving step: ' + errorThrown, 'danger');
            }
        });
    }


    function saveProtocol(id) {
        var name = $('#name').val();
        var description = $('#description').val();
        var dueByYears = parseInt($('#dueDateYear').val()) || 0;
        var dueByMonths = parseInt($('#dueDateMonth').val()) || 0;
        var dueByDays = parseInt($('#dueDateDay').val()) || 0;
        var reoccurYears = parseInt($('#year').val()) || 0;
        var reoccurMonths = parseInt($('#month').val()) || 0;
        var reoccurDays = parseInt($('#day').val()) || 0;
        var status = $('#status').val();
        var type = $('#type').val();
        var csrfToken = $('meta[name="_csrf"]').attr('content');
        var csrfHeader = $('meta[name="_csrf_header"]').attr('content');

        var data = {
            name: name,
            description: description,
            dueByYear: dueByYears,
            dueByMonth: dueByMonths,
            dueByDay: dueByDays,
            type: type,
            yearSchedule: reoccurYears,
            monthSchedule: reoccurMonths,
            daySchedule: reoccurDays,
            status: status
        };

        $.ajax({
            url: `/updateProtocolTemplate/${id}`,
            type: 'PATCH',
            headers: {
                'Content-Type': 'application/json',
                [csrfHeader]: csrfToken
            },
            data: JSON.stringify(data),
            success: function(response) {
                showMessageBanner(response, "success");
                console.log(response);
            },
            error: function(xhr, status, error) {
                console.error('Error:', error);
                var errorMessage = parseErrorMessage(xhr);
                showMessageBanner(errorMessage, "danger");
            }
        });
    }

    function deleteStep(id) {
        var csrfToken = $('meta[name="_csrf"]').attr('content');
        var csrfHeader = $('meta[name="_csrf_header"]').attr('content');

        $.ajax({
            url: `/removeStepFromTemplate/${protocolId}/${id}`,
            type: 'DELETE',
            headers: {
                'Accept': 'text/plain',
                'Content-Type': 'application/json',
                [csrfHeader]: csrfToken
            },
            success: function(response) {
                showMessageBanner(response, "success");
                updateDisplayedSteps();
            },
            error: function(xhr, status, error) {
                console.error('Error deleting step:', error);
                var errorMessage = parseErrorMessage(xhr);
                showMessageBanner('Failed to delete the step. Error: ' + errorMessage, "danger");
            }
        });
    }
    
    function deleteProtocolTemplate(id) {
        var name = document.getElementById('name').value;
        var isConfirmed = confirm(`Are you sure you want to delete ${name}?`);

        if (!isConfirmed) {
            return;
        }

        var csrfToken = $('meta[name="_csrf"]').attr('content');
        var csrfHeader = $('meta[name="_csrf_header"]').attr('content');

        $.ajax({
            url: '/deleteTemplate/ProtocolTemplate/' + id,
            type: 'DELETE',
            headers: {
                'Accept': 'text/plain', 
                'Content-Type': 'application/json',
                'X-CSRF-TOKEN': csrfToken
            },
            success: function(response) {
                window.location.href = '/protocolTemplates';
            },
            error: function(xhr, status, error) {
                var errorMessage = xhr.responseJSON ? xhr.responseJSON.message : xhr.responseText;
                showMessageBanner('Failed to delete Protocol Template. Error: ' + errorMessage, 'danger');
            }
        });
    }
        
    function parseErrorMessage(xhr) {
        var errorMessage = "An error occurred.";
        var contentType = xhr.getResponseHeader("Content-Type");
    
        // Check if the content type is JSON before attempting to parse
        if (contentType && contentType.includes("application/json")) {
            try {
                var responseJson = JSON.parse(xhr.responseText);
                if (responseJson.message) {
                    errorMessage = responseJson.message;
                }
            } catch (e) {
                console.error('Error parsing JSON error response:', e);
            }
        } else {
            // If the response is not JSON, use the response text directly
            errorMessage = xhr.responseText;
        }
        return errorMessage;
    }

    function confirmStep(buttonElement) {
        const select = buttonElement.previousElementSibling;
        const selectedOption = select.options[select.selectedIndex];

        if (selectedOption.value === "new") {
            document.getElementById('newStepTemplate').style.display = 'block';
        } else {
            var stepId = selectedOption.value;
            var csrfToken = $('meta[name="_csrf"]').attr('content');
            var csrfHeader = $('meta[name="_csrf_header"]').attr('content');

            var stepExists = $(`#stepsContent > div#row_${stepId}`).length > 0;

            if (stepExists) {
                showMessageBanner('Step has already been assigned to template.', 'danger');
                return;
            }

            $.ajax({
                url: `/addStepToProtocol/` + protocolId + `/` + stepId,
                type: 'PATCH',
                headers: {
                    'Accept': 'text/plain',
                    'Content-Type': 'application/json',
                    [csrfHeader]: csrfToken
                },
                success: function() {
                    showMessageBanner("Step added successfully.", "success");
                    addStepToDOM(stepId, select.options[select.selectedIndex].text);
                },
                error: function(xhr, status, error) {
                    console.error('Error adding step:', error);
                    var errorMessage = parseErrorMessage(xhr);
                    updateDisplayedSteps();
                    showMessageBanner('Failed to add the step. Error: ' + errorMessage, "danger");
                }
            });
        }
    }

    function addStepToDOM(stepId, stepName) {
        var stepsContent = $('#stepsContent');
        var stepHtml = `
            <div id="row_${stepId}" class="row" data-type="0">
                <div class="col">${stepName}</div>
                <div class="col">
                    <button type="button" class="btn btn-secondary" onclick="editProtocol(${stepId});">Details</button>
                    <button type="button" class="btn btn-secondary" onclick="deleteStep(${stepId});">Delete</button>
                </div>
            </div>`;
        stepsContent.append(stepHtml);
    }

    function updateDisplayedSteps() {
        $.ajax({
            url: `/api/protocols/${protocolId}/steps`,
            type: 'GET',
            success: function(steps) {
                var stepsContent = $('#stepsContent');
                stepsContent.empty();
                steps.forEach(function(step, index) {
                    var stepHtml = `
                        <div id="row_${step.id}" class="row ${index % 2 == 0 ? 'even' : 'odd'}" data-type="${step.categoryId}">
                            <div class="col">${step.name}</div>
                            <div class="col">
                                <button type="button" class="btn btn-secondary" onclick="editProtocol(${step.id});">Details</button>
                                <button type="button" class="btn btn-secondary" onclick="deleteStep(${step.id});">Delete</button>
                            </div>
                        </div>`;
                    stepsContent.append(stepHtml);
                });
                if (steps.length === 0) {
                    stepsContent.append('<p>No steps available.</p>');
                }
                filterSteps('0');
            },
            error: function(xhr, status, error) {
                console.error('Error fetching steps:', error);
                var errorMessage = parseErrorMessage(xhr);
                showMessageBanner('Failed to fetch steps. Error: ' + errorMessage, "danger");
            }
        });
    }

	  function filterSteps(type) {
	    $('#stepsContent > div').each(function() {
	        var stepType = $(this).data('type');
	        if (type == 0 || stepType == type) {  // Changed 'all' to 0
	            $(this).show();
	        } else {
	            $(this).hide();
	        }
	    });
	
	    // Update the stepCategory dropdown in the new step form if not 0
	    const stepCategoryDropdown = document.getElementById('stepCategory');
	    if (type !== 0) {  // Changed 'all' to 0
	        stepCategoryDropdown.value = type;
	    } else {
	        stepCategoryDropdown.selectedIndex = 0; // default to the first option
	    }
	}

    <!-- Step Dropdown Menu Code -->

    function updateStepDropdown(steps) {
        const stepDropdown = $('#stepDropdown');
        stepDropdown.empty();
        stepDropdown.append('<option value="new">Create New Step</option>');
        steps.forEach(step => {
            stepDropdown.append(`<option value="${step.id}" data-category="${step.categoryId}">${step.name}</option>`);
        });
    }

    function toggleAddStepRow() {
        var addStepRow = document.getElementById('addStepRow');
        if (addStepRow.style.display === 'none') {
            addStepRow.style.display = 'flex';
            loadSteps(stepFilterValue); // Load steps when showing the dropdown
        } else {
            addStepRow.style.display = 'none';
        }
    }
    function addStepById(stepId) {
        console.log("Adding step by ID:", stepId); // Logging step ID

        var csrfToken = $('meta[name="_csrf"]').attr('content');
        var csrfHeader = $('meta[name="_csrf_header"]').attr('content');

        $.ajax({
            url: `/addStepToProtocol/` + protocolId + `/` + stepId,
            type: 'PATCH',
            headers: {
                'Accept': 'text/plain',
                'Content-Type': 'application/json',
                [csrfHeader]: csrfToken
            },
            success: function() {
                showMessageBanner("Step added successfully.", "success");
                location.reload();
            },
            error: function(xhr, status, error) {
                console.error('Error adding step:', error);
                var errorMessage = parseErrorMessage(xhr);
                updateDisplayedSteps();
                showMessageBanner('Failed to add the step. Error: ' + errorMessage, "danger");
            }
        });
    }

<!--          Homework Section          -->

    function loadQuestions(categoryId) {
        console.log("Loading Questions Category: ", categoryId);
        if (categoryId === undefined || categoryId === null) {
            console.error("Invalid categoryId:", categoryId);
            showMessageBanner('Error: Invalid category selected.', "danger");
            return;
        }

        questionFilterValue = categoryId; // Set the global filter value
        $.ajax({
            url: `/getQuestionsFiltered/${protocolId}/${categoryId}`,
            type: 'GET',
            success: function(response) {
                updateQuestionsList(response);
            },
            error: function(xhr, status, error) {
                console.error('Error fetching questions:', error);
                var errorMessage = parseErrorMessage(xhr);
                showMessageBanner('Failed to fetch questions. Error: ' + errorMessage, "danger");
            }
        });
    }
    function loadAllQuestions(categoryId) {
        console.log("Loading Questions Category: ", categoryId);
        if (categoryId === undefined || categoryId === null) {
            console.error("Invalid categoryId:", categoryId);
            showMessageBanner('Error: Invalid category selected.', "danger");
            return;
        }

        questionFilterValue = categoryId; // Set the global filter value
        $.ajax({
            url: `/getAllQuestionsByCategoryId/${categoryId}`,
            type: 'GET',
            success: function(response) {
                updateQuestionDropdown(response);
            },
            error: function(xhr, status, error) {
                console.error('Error fetching questions:', error);
                var errorMessage = parseErrorMessage(xhr);
                showMessageBanner('Failed to fetch questions. Error: ' + errorMessage, "danger");
            }
        });
    }

    function updateQuestionsList(questions) {
        const questionsContent = $('#homeworkContents');
        questionsContent.empty();

        if (questions.length === 0) {
            questionsContent.append('<p>No questions available.</p>');
            return;
        }

        questions.forEach((question, index) => {
            const rowClass = index % 2 === 0 ? 'even' : 'odd';
            const questionHtml = `
            <div id="row_${question.questionId}" class="row ${rowClass}" data-category-id="${question.categoryId}">
                <div class="col-md-8">${question.question}</div>
                <div class="col-md-4">
                    <button type="button" class="btn btn-secondary" onclick="viewQuestionDetails(${question.questionId});">Details</button>
                </div>
            </div>
        `;
            questionsContent.append(questionHtml);
        });
    }



    <!--Question Dropdown List Section -->

    function updateQuestionDropdown(questions) {
        const questionDropdown = $('#questionDropdown');
        questionDropdown.empty(); // Clear existing options

        questionDropdown.append('<option value="">Select a Question</option>');
        if (questions && Array.isArray(questions) && questions.length > 0) {
            questions.forEach(question => {
                if (question.questionId && question.question) {
                    questionDropdown.append(
                        `<option value="${question.questionId}" data-category="${question.categoryId || ''}">
                        ${question.question}
                    </option>`
                    );
                } else {
                    console.warn("Invalid question data encountered:", question);
                }
            });
        } else {
            console.warn("No questions available to populate dropdown.");
        }
    }

    function toggleAddQuestionRow() {
        var addQuestionRow = document.getElementById('addQuestionRow');
        if (addQuestionRow.style.display === 'none') {
            addQuestionRow.style.display = 'flex';
            loadAllQuestions(questionFilterValue); // Load questions when showing the dropdown
        } else {
            addQuestionRow.style.display = 'none';
        }
    }
    function confirmQuestion(buttonElement) {
        const select = buttonElement.previousElementSibling;
        console.log("Select Element: ", select);

        if (!select) {
            console.error("No select element found!");
            showMessageBanner('Error: No dropdown element found.', 'danger');
            return;
        }

        const selectedOption = select.options[select.selectedIndex];
        console.log("Selected Option: ", selectedOption);

        if (!selectedOption || !selectedOption.value) {
            console.error("No valid option selected!");
            showMessageBanner('Error: Please select a valid question.', 'danger');
            return;
        }

        const questionId = selectedOption.value;
        console.log("Question ID: ", questionId);

        if (questionId === "new") {
            document.getElementById('newQuestionTemplate').style.display = 'block';
            return;
        }

        var csrfToken = $('meta[name="_csrf"]').attr('content');
        var csrfHeader = $('meta[name="_csrf_header"]').attr('content');

        var questionExists = $(`#homeworkContents > div#row_${questionId}`).length > 0;

        if (questionExists) {
            showMessageBanner('Question has already been assigned to template.', 'danger');
            return;
        }

        $.ajax({
            url: `/linkProtocolTemplateAndHomeworkQuestion/` + protocolId + `/` + questionId,
            type: 'POST',
            headers: {
                'Accept': 'text/plain',
                'Content-Type': 'application/json',
                [csrfHeader]: csrfToken
            },
            success: function() {
                showMessageBanner("Question added successfully.", "success");
                loadQuestions(questionFilterValue);
                //addStepToDOM(questionId, select.options[select.selectedIndex].text);
            },
            error: function(xhr, status, error) {
                console.error('Error adding Question:', error);
                var errorMessage = parseErrorMessage(xhr);
                loadQuestions(questionFilterValue);
                showMessageBanner('Failed to add the Question. Error: ' + errorMessage, "danger");
            }
        });
    }


    function viewQuestionDetails(questionId) {
        // Navigate to the question details page
        window.location = `/displayHomeworkQustion/${questionId}`;
    }

    $(document).ready(function () {
        $('#questionTabs .nav-tab-link').on('click', function (e) {
            e.preventDefault();
            var categoryId = $(this).data('type');
            questionFilterValue = categoryId; // Set the global filter value
            loadQuestions(categoryId);

            $('#questionTabs .nav-tab-link').removeClass('active');
            $(this).addClass('active');
        });

        loadQuestions(0); // Load all homework questions initially
    });



	function showType(type) {
      console.log("Calling showType")
	    filterSteps(type);
	
	    const stepDropdowns = document.querySelectorAll('.new-step-row select');
	    stepDropdowns.forEach(dropdown => {
	        const options = dropdown.getElementsByTagName('option');
	        for (let i = 0; i < options.length; i++) {
	            if (type == 0 || options[i].getAttribute('data-category') == type) {  // Changed 'all' to 0
	                options[i].style.display = 'block';
	            } else {
	                options[i].style.display = 'none';
	            }
	        }
	    });
	}
    $(document).ready(function() {
	    $('#schedule-fields').hide();
	    $('#reoccurring').change(function() {
	        if ($(this).is(':checked')) {
	            $('#schedule-fields').show();
	        } else {
	            $('#schedule-fields').hide();
	        }
	    });
	
	    $('.step-tab').on('click', function(e) {
	        e.preventDefault(); // Prevent default only for nav-tab-link elements
	        var type = $(this).data('type');
	        stepFilterValue = type; // Set the global filter value
	        showType(type);
	
	        $('.nav-tab-link').removeClass('active');
	        $(this).addClass('active');
	    });
	
	    updateDisplayedSteps();
	});


    function toggleHouseholdForm() {
        const formContainer = document.getElementById('householdFormContainer');
        formContainer.style.display = formContainer.style.display === 'none' ? 'block' : 'none';
    }
    
    function addHomeworkTemplate() {
        var tableBody = document.getElementById("homeworkTable").getElementsByTagName('tbody')[0];
        
        var homeworkSelect = document.getElementById("homeworkTemplateDropdown");
        var selectedOption = homeworkSelect.options[homeworkSelect.selectedIndex];
        var homeworkExists = Array.from(tableBody.rows).some(row => row.dataset.homeworkId === selectedOption.value);
        
        if (homeworkExists) {
            showMessageBanner("This homework template is already added.", "warning");
            return; // Stop the function if the homework already exists
        }

        if (selectedOption.value !== "") {
            var newRow = tableBody.insertRow();
            var cell1 = newRow.insertCell(0);
            var cell2 = newRow.insertCell(1);

            cell1.textContent = selectedOption.text;
            cell2.innerHTML = '<button type="button" class="btn btn-danger" onclick="removeHomework(this);">Remove</button>';
            newRow.dataset.homeworkId = selectedOption.value;

            homeworkSelect.selectedIndex = 0; // Reset the dropdown after adding
        } else {
            showMessageBanner("Please select a homework template before adding.", "warning");
        }
    }

    function removeHomework(button) {
        var row = button.parentNode.parentNode;
        row.parentNode.removeChild(row);
    }

    function confirmClient(buttonElement) {
        console.log("confirmProtocol: Function called.");

        var csrfTokenElement = document.querySelector('meta[name="_csrf"]');
        var csrfHeaderElement = document.querySelector('meta[name="_csrf_header"]');
        var csrfToken = csrfTokenElement ? csrfTokenElement.getAttribute('content') : 'no_token';
        var csrfHeader = csrfHeaderElement ? csrfHeaderElement.getAttribute('content') : 'no_header';
        if (csrfTokenElement && csrfHeaderElement) {
            console.log("confirmProtocol: CSRF elements found.");
        } else {
            console.error("confirmProtocol: CSRF elements not found. This will cause the fetch call to fail.");
        }

        var selectElement = buttonElement.previousElementSibling;
        var clientId = selectElement ? selectElement.value : null;
        const popupWidth = 800;
        const popupHeight = 400;
        const left = (screen.width - popupWidth) / 2;
        const top = (screen.height - popupHeight) / 2;
        window.open(`/extraInfoPopUp/${clientId}/${protocolId}`, 'extraInfoPopUp', `width=${popupWidth},height=${popupHeight},top=${top},left=${left}`);
        if (protocolId) {
            console.log(`confirmProtocol: Selected Client ID is ${protocolId}.`);
        } else {
            console.error("confirmProtocol: No Client ID selected.");
            return;
        }
        
    }

	function reloadProtocolDetails(protocolId) {
	    $.ajax({
	        url: `/protocol/${protocolId}/details`,
	        type: 'GET',
	        success: function(response) {
	            $('#protocol-details').html(response); 
	        },
	        error: function(xhr, status, error) {
	            console.error("Error reloading protocol details: ", error);
	        }
	    });
	}

    function confirmProtocol(buttonElement) {
        console.log("confirmProtocol: Function called.");

        var csrfTokenElement = document.querySelector('meta[name="_csrf"]');
        var csrfHeaderElement = document.querySelector('meta[name="_csrf_header"]');
        var csrfToken = csrfTokenElement ? csrfTokenElement.getAttribute('content') : 'no_token';
        var csrfHeader = csrfHeaderElement ? csrfHeaderElement.getAttribute('content') : 'no_header';
        if (csrfTokenElement && csrfHeaderElement) {
            console.log("confirmProtocol: CSRF elements found.");
        } else {
            console.error("confirmProtocol: CSRF elements not found. This will cause the fetch call to fail.");
        }

        var selectElement = buttonElement.previousElementSibling;
        var userId = selectElement ? selectElement.value : null;
        const popupWidth = 800;
        const popupHeight = 400;
        const left = (screen.width - popupWidth) / 2;
        const top = (screen.height - popupHeight) / 2;
        //Calls the window to add Protocols to User
        window.open(`/extraInfoPopUp/${userId}/${protocolId}`, 'extraInfoPopUp', `width=${popupWidth},height=${popupHeight},top=${top},left=${left}`);

    }

</script>

<div th:insert="~{footer :: main}">...</div>
</body>
</html>

