<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Clients</title>

</head>

<body>
	<div th:insert="~{header :: main}">...</div>
	<div class="container">
		<div class="row note_card">
			<fieldset>
				<legend>Clients</legend>
				<button class="btn btn-primary" onclick="newClient();">New Client</button>

				<div class="col-2">
					<input type="text" id="protocolSearch" class="form-control" placeholder="Search clients...">
				</div>
				<div class="row rowheader">
					<div class="col-md-2">First Name</div>
					<div class="col-md-6">Last Name</div>
					<div class="col-md-4">Actions</div>
				</div>
				<div th:each="user, status: ${UserList}" th:id="|row_${user.id}|"
					th:class="${status.index % 2 == 0 ? 'row even' : 'row odd'}">
					<div class="col-md-2" th:text="${user.firstName}">First Name</div>
					<div class="col-md-6" th:text="${user.lastName}">First Name</div>
					<div class="col-md-4">
						<a th:href="@{'/clientProfile/' + ${user.id}}"><button class="btn btn-sm btn-secondary">View Profile</button></a>
						<a th:href="@{'/homeworkReport/' + ${user.id}}"><button class="btn btn-sm btn-secondary">View Homework</button></a>
					</div>
					
				</div>
			</fieldset>
		</div>
	</div>
	<div th:insert="~{footer :: main}">...</div>
	
		<script>
		function newClient() {
			window.location = '/newClient/';
		}
		
		document.addEventListener('DOMContentLoaded', function () {
		    var searchField = document.getElementById('protocolSearch'); // Make sure the ID matches your input field
		
		    searchField.addEventListener('input', function () {
		        var searchTerm = this.value.toLowerCase();
		
		        // Select all client rows that should be dynamically shown/hidden
		        var clients = document.querySelectorAll('.note_card .row:not(.rowheader)'); // Adjust the selector to specifically target only the rows that contain client data
		
		        clients.forEach(function (client) {
		            // Query for first name and last name elements within each client row
		            var firstNameElement = client.children[0]; // Assumes first name is the first child of the row
		            var lastNameElement = client.children[1]; // Assumes last name is the second child of the row
		
		            // Extract text content if elements are found, otherwise use an empty string
		            var firstName = firstNameElement ? firstNameElement.textContent.toLowerCase() : '';
		            var lastName = lastNameElement ? lastNameElement.textContent.toLowerCase() : '';
		
		            // Determine if the row should be displayed based on search term presence
		            var isMatch = firstName.includes(searchTerm) || lastName.includes(searchTerm);
		
		            // Set display property based on whether the row matches the search criteria
		            client.style.display = isMatch ? '' : 'none'; // Only hide or show individual client rows
		        });
		    });
		});


	</script>
</body>

</html>