<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
    <title>Edit Step</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <meta name="_csrf" th:content="${_csrf.token}" />
    <meta name="_csrf_header" th:content="${_csrf.headerName}" />
</head>
<body>
    <div th:insert="~{header :: main}">...</div>

    <!-- Message banner -->
    <div class="container">
        <div id="messageBanner" class="alert" style="display: none;" role="alert"></div>
    </div>

    <div class="container">
        <div class="row note_card">
            <fieldset class="col-12">
                <legend>Edit Step Template</legend>
                <form th:action="@{/saveStep}" method="post">
                    <input type="hidden" name="stepId" th:value="${step.id}">
                    <div class="form-row">
                        <div class="form-group col-md-9">
                            <label for="stepName">Name:</label>
                            <input type="text" id="stepName" name="stepName" class="form-control" th:value="${step.name}">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="stepCategory">Category:</label>
                            <select class="form-control" id="stepCategory" name="stepCategory">
                                <option value="1" th:selected="${step.categoryId == 1}">Gather Data</option>
                                <option value="2" th:selected="${step.categoryId == 2}">Run Analysis</option>
                                <option value="3" th:selected="${step.categoryId == 3}">Craft Recommendations</option>
                                <option value="4" th:selected="${step.categoryId == 4}">Share Education</option>
                                <option value="5" th:selected="${step.categoryId == 5}">Employment</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="stepDetails">Description:</label>
                        <textarea id="stepDetails" name="stepDetails" class="form-control" rows="3" th:text="${step.description}"></textarea>
                    </div>
                    <button type="button" class="btn btn-primary" onclick="window.history.back();">Back</button> 
                    <button type="button" class="btn btn-primary" th:attr="onclick='deleteStepTemplate(' + ${stepId} + ');'">Delete</button>  
                    <button type="button" class="btn btn-success" th:attr="onclick='saveStep(' + ${stepId} + ');'">Save Step</button>
                </form>
            </fieldset>
        </div>
    </div>

    <!-- Homework Form -->
    <div class="container">
        <div class="row note_card">
            <fieldset class="col-12">
                <legend>Assigned Homework</legend>
                <div class="table-responsive">
                    <table class="table" id="homeworkTable">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="homework : ${step.homework}" th:data-homework-id="${homework.id}">
                                <td th:text="${homework.name}">Homework Name</td>
                                <td>
                                    <button type="button" class="btn btn-secondary" th:attr="onclick='deleteHomework(' + ${homework.id} + ');'">Delete</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <select class="form-control mt-2" id="homeworkTemplateDropdown">
                    <option value="">Select Homework Template</option>
                    <option th:each="homework : ${homework}" th:value="${homework.id}" th:text="${homework.name}"></option>
                </select>
                <button type="button" class="btn btn-primary mt-2" onclick="confirmHomeworkTemplate();">Add Homework</button>
            </fieldset>
        </div>
    </div>

    <script th:inline="javascript">
        var stepId = [[${stepId}]];

        function showBannerMessage(message, type) {
            var banner = document.getElementById('messageBanner');
            banner.textContent = message;
            banner.className = 'alert alert-' + type;
            banner.style.display = 'block';
        }

        function saveStep(id) {
            var stepData = {
                "categoryId": document.getElementById("stepCategory").value,
                "categoryName": document.getElementById("stepCategory").options[document.getElementById("stepCategory").selectedIndex].text,
                "name": document.getElementById("stepName").value,
                "description": document.getElementById("stepDetails").value,
                "homework": Array.from(document.querySelectorAll("#homeworkTable tbody tr")).map(row => {
                    return {
                        "id": parseInt(row.dataset.homeworkId),
                        "name": row.cells[0].textContent.trim()
                    };
                })
            };

            fetch('/updateStep/' + id, {
                method: 'PATCH',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRF-TOKEN': document.querySelector('meta[name="_csrf"]').content
                },
                body: JSON.stringify(stepData)
            })
            .then(response => response.json())
            .then(data => {
                showBannerMessage('Step saved successfully!', 'success');
                setTimeout(() => window.location.href = '/protocolStepTemplates', 2000);
            })
            .catch(error => showBannerMessage('Error saving step: ' + error, 'danger'));
        }

        function confirmHomeworkTemplate() {
            var csrfTokenElement = document.querySelector('meta[name="_csrf"]');
            var csrfHeaderElement = document.querySelector('meta[name="_csrf_header"]');
            var csrfToken = csrfTokenElement ? csrfTokenElement.getAttribute('content') : 'no_token';
            var csrfHeader = csrfHeaderElement ? csrfHeaderElement.getAttribute('content') : 'no_header';
            var homeworkTemplateId = document.getElementById('homeworkTemplateDropdown').value;
            if (!homeworkTemplateId) {
                showBannerMessage('Please select a Homework Template.', 'warning');
                return;
            }

            // Check if the homework is already added
            var tableBody = document.getElementById("homeworkTable").getElementsByTagName('tbody')[0];
            var homeworkExists = Array.from(tableBody.rows).some(row => row.getAttribute('data-homework-id') === homeworkTemplateId);
            
            if (homeworkExists) {
                showBannerMessage("This homework template is already added.", "warning");
                return; // Stop the function if the homework already exists
            }

            fetch('/addHomeworkTemplateToStep/' + stepId + '/' + homeworkTemplateId + '/', {
                method: 'PATCH',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json',
                    [csrfHeader]: csrfToken
                },
                credentials: 'include'
            })
            .then(response => {
                if (response.ok) {
                    showBannerMessage('Homework Template added successfully.', 'success');
                    setTimeout(() => window.location.reload(), 2000);
                } else {
                    showBannerMessage('Failed to add Homework Template.', 'danger');
                }
            })
            .catch(error => {
                console.error('Error:', error);
                showBannerMessage('Error adding Homework Template.', 'danger');
            });
        }

        function deleteHomework(homeworkId) {
            var csrfTokenElement = document.querySelector('meta[name="_csrf"]');
            var csrfHeaderElement = document.querySelector('meta[name="_csrf_header"]');
            var csrfToken = csrfTokenElement ? csrfTokenElement.getAttribute('content') : 'no_token';
            var csrfHeader = csrfHeaderElement ? csrfHeaderElement.getAttribute('content') : 'no_header';

            fetch('/removeHomeworkFromStepTemplate/' + stepId + '/' + homeworkId, {
                method: 'DELETE',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json',
                    [csrfHeader]: csrfToken
                },
                credentials: 'include'
            })
            .then(response => {
                if (response.ok) {
                    showBannerMessage('Homework removed successfully.', 'success');
                    setTimeout(() => window.location.reload(), 2000);
                } else {
                    showBannerMessage('Failed to remove Homework.', 'danger');
                }
            })
            .catch(error => {
                console.error('Error:', error);
                showBannerMessage('Error removing Homework.', 'danger');
            });
        }
        
        function deleteStepTemplate(stepId) {
            var csrfTokenElement = document.querySelector('meta[name="_csrf"]');
            var csrfHeaderElement = document.querySelector('meta[name="_csrf_header"]');
            var csrfToken = csrfTokenElement ? csrfTokenElement.getAttribute('content') : 'no_token';
            var csrfHeader = csrfHeaderElement ? csrfHeaderElement.getAttribute('content') : 'no_header';

            fetch('/deleteTemplate/StepTemplate/' + stepId, {
                method: 'DELETE',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json',
                    [csrfHeader]: csrfToken
                },
                credentials: 'include'
            })
            .then(response => {
                if (response.ok) {
                    window.location.href = '/protocolStepTemplates';
                } else {
                    showBannerMessage('Failed to delete Step Template.', 'danger');
                }
            })
            .catch(error => {
                console.error('Error:', error);
                showBannerMessage('Error deleting Step Template.', 'danger');
            });
        }
    </script>
</body>
</html>
