<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
    <title>Edit Homework</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>
<body>
<div class="container">
    <div th:if="${not #strings.isEmpty(success)}" class="alert alert-success" th:text="${success}">
        <!-- Success message will be displayed here -->
    </div>
    
    <!-- Display error message -->
    <div th:if="${not #strings.isEmpty(error)}" class="alert alert-danger" th:text="${error}">
        <!-- Error message will be displayed here -->
    </div>
</div>
<div th:insert="~{header :: main}">...</div>

<div class="container">
    <button type="button" class="btn btn-secondary" onclick="window.history.back();">Back</button>
</div>
<br>

<form id="homeworkForm" th:action="@{/newHomeworkTemplate}" method="post">
    <input type="hidden" name="_csrf" value="${_csrf.token}">

    <div class="container">
        <div class="row note_card">
            <fieldset>
                <legend>Edit Homework</legend>
                <div class="form-group">
                    <label for="templateName">Name:</label>
                    <input type="text" id="templateName" name="name" class="form-control" placeholder="Homework Name">
                     <small class="form-text text-muted">Name must be shorter than 32 characters.</small>
                </div>
                <div class="form-group">
                    <label for="templateDetails">Description:</label>
                    <textarea id="templateDetails" name="description" class="form-control" rows="3" placeholder="Homework Description"></textarea>
                </div>
                <div class="form-group">
                    <label for="isMultiResponse">Is Multi-Response:</label>
                    <select class="form-control" id="isMultiResponse" name="isMultiResponse">
                        <option value="true">True</option>
                        <option value="false">False</option>
                    </select>

                </div>
                <div id="questionsContainer"></div>
                <button type="button" class="btn btn-primary" onclick="addQuestion()">Add Homework Question</button>
                <!-- Hidden input to store JSON data -->
                <input type="hidden" name="templateBody" id="templateBody">
                <button type="submit" class="btn btn-success" onclick="prepareSubmit()">Save Template</button>
            </fieldset>
        </div>
    </div>
</form>



<script th:inline="javascript">
/*<![CDATA[*/
let protocols = /*[[${protocols}]]*/ [];

function addQuestion() {
    const container = document.getElementById('questionsContainer');
    const questionIndex = container.children.length;
    const questionDiv = document.createElement('div');
    questionDiv.className = 'card mb-3';
    questionDiv.innerHTML = `
        <div class="card-body">
            <div class="form-group">
                <label>Question Abbreviation:</label>
                <input type="text" class="form-control" id="questionAbbr_${questionIndex}">
            </div>
            <div class="form-group">
                <label>Question:</label>
                <input type="text" class="form-control" id="question_${questionIndex}">
            </div>
            <div class="form-group">
                <label>Question Type:</label>
                <select class="form-control" id="questionType_${questionIndex}">
                    <option value="STRING">String</option>
                    <option value="SELECT_OPTION">Select Option</option>
                </select>
            </div>
            <div class="form-group">
                <label>Is Required:</label>
                <select class="form-control" id="isRequired_${questionIndex}">
                    <option value="true">True</option>
                    <option value="false">False</option>
                </select>
            </div>
            <div class="form-group">
                <label>Trigger Protocol Creation:</label>
                <select class="form-control" onchange="toggleTriggerFields(this, ${questionIndex})" id="triggerProtocolCreation_${questionIndex}">
                    <option value="false">No</option>
                    <option value="true">Yes</option>
                </select>
            </div>

                <div id="triggerFields_${questionIndex}" style="display: none;">
					
				<div class="form-group">
                    <label>Trigger Protocol:</label>
                    <select class="form-control" id="triggeredProtocolId_${questionIndex}">
                        <option value="">Select Protocol</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Trigger Response:</label>
                    <select class="form-control" id="triggerResponse_${questionIndex}"></select>
                </div>
                
                <div class="form-group">
                    <label>Trigger Tooltip:</label>
                    <input type="text" class="form-control" id="triggerTooltip_${questionIndex}">
                </div>
                
            </div>
            <div id="responseOptions_${questionIndex}"></div>
            <button type="button" class="btn btn-secondary" onclick="addResponseOption(${questionIndex})">Add Response Option</button>
        </div>
    `;
    container.appendChild(questionDiv);

    // Populate protocols dropdown
    const protocolSelect = document.getElementById(`triggeredProtocolId_${questionIndex}`);
    protocols.forEach(protocol => {
        const option = document.createElement('option');
        option.value = protocol.id;
        option.textContent = protocol.name;
        protocolSelect.appendChild(option);
    });
    
}

let responseInputs = [];

function addResponseOption(questionIndex) {
    console.log("Adding response option for question", questionIndex);

    const optionsContainer = document.getElementById(`responseOptions_${questionIndex}`);
    const optionIndex = optionsContainer.children.length;
    const optionDiv = document.createElement('div');
    optionDiv.className = 'form-group';
    optionDiv.innerHTML = `
        <label>Response:</label>
        <input type="text" class="form-control" id="response_${questionIndex}_${optionIndex}">
        <label>Tooltip:</label>
        <input type="text" class="form-control" id="tooltip_${questionIndex}_${optionIndex}">
    `;
    optionsContainer.appendChild(optionDiv);

    // Update responseInputs array with newly created input elements
    responseInputs.push(...optionDiv.querySelectorAll('input'));

    console.log("Number of response inputs:", responseInputs.length);

    // Add event listener to dynamically update trigger response select
    const triggerResponseSelect = document.getElementById(`triggerResponse_${questionIndex}`);
    optionsContainer.addEventListener('input', function() {
        console.log("Event listener triggered for question", questionIndex);
        triggerResponseSelect.innerHTML = ''; 
        responseInputs.forEach(input => {
            const option = document.createElement('option');
            option.value = input.value;
            option.textContent = input.value;
            triggerResponseSelect.appendChild(option);
            console.log("Added option:", option.value);
        });
    });
}

function toggleTriggerFields(select, index) {
    const display = select.value === 'true' ? 'block' : 'none';
    document.getElementById(`triggerFields_${index}`).style.display = display;
}

function prepareSubmit() {
    const name = document.getElementById('templateName').value;
    const description = document.getElementById('templateDetails').value;
    const isMultiResponse = document.getElementById('isMultiResponse').value === 'true';

    const questions = Array.from(document.getElementById('questionsContainer').children).map((card, index) => {
        const questionAbbr = document.getElementById(`questionAbbr_${index}`).value;
        const question = document.getElementById(`question_${index}`).value;
        const questionType = document.getElementById(`questionType_${index}`).value;
        const isRequired = document.getElementById(`isRequired_${index}`).value === 'true';
        const triggerProtocolCreation = document.getElementById(`triggerProtocolCreation_${index}`).value === 'true';

        const responseOptions = Array.from(document.getElementById(`responseOptions_${index}`).children).map((optionDiv, optionIndex) => ({
            response: document.getElementById(`response_${index}_${optionIndex}`).value,
            tooltip: document.getElementById(`tooltip_${index}_${optionIndex}`).value
        }));

        const triggeringResponse = triggerProtocolCreation ? {
            response: document.getElementById(`triggerResponse_${index}`).value,
            tooltip: document.getElementById(`triggerTooltip_${index}`).value
        } : {response: "", tooltip: ""};

        const triggeredProtocolId = triggerProtocolCreation ? parseInt(document.getElementById(`triggeredProtocolId_${index}`).value, 10) : null;

        return {
            questionAbbr,
            question,
            questionType,
            isRequired,
            responseOptions,
            triggerProtocolCreation,
            triggeringResponse,
            triggeredProtocolId
        };
    });

    const templateData = JSON.stringify({
        name,
        description,
        isMultiResponse,
        homeworkQuestions: questions
    }, null, 2); // Pretty print JSON for readability

    // Set the hidden input's value to the JSON string
    document.getElementById('templateBody').value = templateData;
    console.log("Prepared JSON Data:", templateData);
    
    return true;
}





/*]]>*/
</script>

</body>
</html>

