<div th:fragment="main">
	<div class="standard-footer">
	    <div class="row">
	        <div class="col-sm-2">&nbsp;&nbsp;<a href="https://rb-sns.com/RB/blog/about-us" class="footlink">About Us</a></div>
	        <div class="col-sm-2"><a href="https://rb-sns.com/RB/blog/contact-us" class="footlink">Contact Us</a></div>
	        <div class="col-sm-2"><a href="https://rb-sns.com/RB/blog/privacy-policy" class="footlink">Privacy Policy</a></div>
	        <div class="col-sm-4 pull-right"><span class="footlink">Copyright &copy; <a href="http://rb-sns.com/RB">Waypoint</a> 2024 All Rights Reserved.</span>
	        </div>
	    </div>
	</div>
	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]--> 
	
	<!-- Bootstrap core JavaScript
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script th:src="@{bootstrap-5.0.2-dist/js/bootstrap.min.js}"></script>
</div>
