<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Forgot Password</title>
    <meta charset="UTF-8">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>

<body onload='document.getElementById("username").focus();'>
<div th:insert="~{externalheader :: main}">...</div>

    <div class="card">
        <div class="card-header">
            <h2 class="text-center">Forgot Password</h2>
        </div>
        <div class="card-body">
            <form method="post" role="form" class="form-horizontal">
                <div class="form-group mb-3">
                    <label class="control-label"> Username</label>
                    <input type="text" id="username" name="username" class="form-control"
                        placeholder="Username" />
                </div>

                <div class="form-group mb-3">
                    <label class="control-label"> Email</label>
                    <input type="text" id="email" name="email" class="form-control"
                        placeholder="Email" />
                </div>
                <div class="form-group mb-3">
                    <button type="button" class="btn btn-default" onclick="sendResetPassword()">Submit</button>
                </div>
            </form>
        </div>
    </div>
    <br /> <br /> <br />
    <div class="row" align="center">
        <div th:insert="~{footer :: main}">...</div>
    </div>
    <script th:inline="javascript">


        function sendResetPassword() {
            var user = document.getElementById('username').value;
            var email = document.getElementById('email').value;
            var csrfToken = document.querySelector('meta[name="_csrf"]').getAttribute('content');
        	var csrfHeader = document.querySelector('meta[name="_csrf_header"]').getAttribute('content');
            console.log("sendResetPassword called with user:", user, "and email:", email);

            var requestUrl = `/resetPassword/${user}/${email}`;

            var headers = {
                'Accept': 'text/plain',
                'Content-Type': 'application/json',
                'X-CSRF-TOKEN': csrfToken
            };


            fetch(requestUrl, {
                method: 'GET',
                headers: headers
            })
            .then(response => {
                if (response.ok) {
                    showMessageBanner('Reset password email sent successfully.', 'success');
                } else {
                    response.text().then(text => { throw new Error(text); });
                }
            })
            .catch(error => {
                console.error('Error:', error);
                showMessageBanner('Error sending reset password email.', 'danger');
            });
        }

        function showMessageBanner(message, type) {
            console.log(`${type}: ${message}`);
        }
    </script>
</body>
</html>


