<html>
<html xmlns="http://www.thymeleaf.org">
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div th:insert="~{externalheader :: main}">...</div>

<body onload='document.loginForm.username.focus();'>


	<div class="card">
		<div class="card-header">
			<h2 class="text-center">Forgot Password</h2>
		</div>
		<div class="card-body">
			<form method="post" role="form" class="form-horizontal">
				<div class="form-group mb-3">
					<label class="control-label"> Username</label>
					<input type="text" id="username" name="username" class="form-control"
						placeholder="Username " />
				</div>

				<div class="form-group mb-3">
					<label class="control-label"> Email</label>
					<input type="text" id="email" name="email" class="form-control"
						placeholder="Email" />
				</div>
				<div class="form-group mb-3">
					<a class="btn btn-default" th:href="@{/forgotPassword}">Submit</a>
				</div>
			</form>
		</div>
		</fieldset>
	</div>
	</div>
	</div>
	</div>
	<br /> <br /> <br />
	<div class="row" align="center">
		<div th:insert="~{footer :: main}">...</div>
	</div>
	<script>
		 function sendResetPassword(user, email) {
            console.log("sendResetPassword: Function called with id:", clientId);
            var csrfToken = document.querySelector('meta[name="_csrf"]').getAttribute('content');
            var csrfHeader = document.querySelector('meta[name="_csrf_header"]').getAttribute('content');

            var requestUrl = `/resetPassword/${username}/${email}`;

            fetch(requestUrl, {
                method: 'GET',
                headers: {
                    'Accept': 'text/plain',
                    'Content-Type': 'application/json',
                    [csrfHeader]: csrfToken
                }
            })
            .then(response => {
                if (response.ok) {
                    showMessageBanner('Reset password email sent successfully.', 'success');
                } else {
                    response.text().then(text => { throw new Error(text); });
                }
            })
            .catch(error => {
                console.error('Error:', error);
                showMessageBanner('Error sending reset password email.', 'danger');
            });
        }


	</script>
</body>
</html>