<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
    <title>Edit Homework</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <meta name="_csrf" th:content="${_csrf.token}" />
    <meta name="_csrf_header" th:content="${_csrf.headerName}" />
</head>
<body>
<div th:insert="~{header :: main}">...</div>

<div class="container">
    <div class="row note_card">
        <fieldset>
            <legend>Edit Homework</legend>
            <button type="button" class="btn btn-secondary" onclick="window.history.back();">Back</button>
            <div class="form-group">
                <label for="homeworkName"><strong>Name:</strong></label>
                <span id="homeworkName" th:text="${homework.name}">Homework Name</span>
            </div>
            <div class="form-group">
                <label for="homeworkDetails"><strong>Description:</strong></label>
                <span id="homeworkDetails" th:text="${homework.description}">Homework Description</span>
            </div>

            <form target="_blank" id="homeworkForm" action="#" method="post" th:action="@{/assignUserResponseToHomework/} + ${homeworkId}" enctype="multipart/form-data">
                <span class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Question</th>
                                <th>Type</th>
                                <th>Response</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="question : ${homework.questions}" th:id="${question.questionId}">
                                <td th:text="${question.question}"></td>
                                <td th:text="${question.questionType}"></td>
                                <td>
                                    <input type="hidden" name="questionIds" th:value="${question.questionId}"/>
                                    <span th:switch="${question.questionType}">
                                        <span th:case="'STRING'">
                                            <input type="text" th:name="userResponses" th:value="${question.userResponse}" th:required="${question.isRequired} ? 'required' : null"/>
                                        </span>
                                        <span th:case="'INTEGER'">
                                            <input type="number" th:name="userResponses" th:value="${question.userResponse}" th:required="${question.isRequired} ? 'required' : null"/>
                                        </span>
                                        <span th:case="'FLOAT'">
                                            <input type="number" step="0.01" th:name="userResponses" th:value="${question.userResponse}" th:required="${question.isRequired} ? 'required' : null"/>
                                        </span>
                                        <span th:case="'DATE'">
                                            <input type="date" th:name="userResponses" th:value="${question.userResponse}" th:required="${question.isRequired} ? 'required' : null"/>
                                        </span>
                                        <span th:case="'DATETIME'">
                                            <input type="datetime-local" th:name="userResponses" th:value="${question.userResponse}" th:required="${question.isRequired} ? 'required' : null"/>
                                        </span>
                                        <span th:case="'BOOLEAN'">
                                            <input th:id="${question.questionId} + '-checkbox'" type="hidden" th:name="userResponses" th:value="${question.userResponse}"/>
                                            <input th:id="${question.questionId}" class="boolean-checkbox" type="checkbox" th:checked="${question.userResponse}" th:required="${question.isRequired} ? 'required' : null"/>
                                        </span>
                                        <span th:case="'SELECT_OPTION'">
                                            <input th:id="${question.questionId} + '-select-option'" type="hidden" th:name="userResponses" th:value="${question.userResponse}"/>
                                            <select th:id="${question.questionId}" class="select-option" th:required="${question.isRequired} ? 'required' : null">
                                                <option th:each="expectedResponse : ${question.expectedHomeworkResponses.responses}" th:text="${expectedResponse.response}" th:value="${expectedResponse.response}"
                                                    th:selected="${question.userResponse != null and #arrays.contains(question.userResponse, expectedResponse.response)}"></option>
                                            </select>
                                        </span>
                                        <span th:case="'MULTI_SELECT_OPTION'">
                                            <input th:id="${question.questionId} + '-multi-select-option'" type="hidden" th:name="userResponses" th:value="${question.userResponse}"/>
                                            <span th:each="expectedResponse : ${question.expectedHomeworkResponses.responses}">
                                                <input th:id="${question.questionId} + '-checkbox-' + ${expectedResponse.response}" class="multi-select-checkbox" type="checkbox" th:name="${expectedResponse.response}" th:value="${expectedResponse.response}"
                                                    th:checked="${question.userResponse != null and #arrays.contains(question.userResponse, expectedResponse.response)}" />
                                                <label th:for="${question.questionId} + '-checkbox-' + ${expectedResponse.response}" th:text="${expectedResponse.response}"></label><br>
                                            </span>
                                        </span>
                                        <span th:case="'FILE'">
                                            <input th:id="${question.questionId} + '-filename'" type="hidden" th:name="userResponses" th:value="${question.userResponse}"/>
                                            <input th:id="${question.questionId}" type="file" th:name="files" th:value="${question.userResponse}" th:required="${question.isRequired} ? 'required' : null"/>
                                            <button th:if="${question.userResponse} != null and ${question.userResponse} != ''" type="button" class="btn btn-primary" th:data-guid="${question.userResponse}" onclick="downloadFile(this)">Download File</button>
                                        </span>
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <button type="button" class="btn btn-primary" onclick="submitForm()">Submit Responses</button>
                    <br>
                </span>
            </form>
        </fieldset>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
<script th:inline="javascript">
    function validateForm() {
        let isValid = true;
        $("input[required]").each(function() {
            if (!this.value) {
                isValid = false;
                alert('Please fill out all required fields.');
                return false; // break out of the loop
            }
        });
        return isValid;
    }

    function submitForm() {
        if (validateForm()) {
            $.ajax({
                type: 'POST',
                url: $("#homeworkForm").attr('action'),
                data: new FormData($('#homeworkForm')[0]),
                processData: false,
                contentType: false,
                success: function(response) {
                    alert('Form submitted successfully!');
                    location.reload();
                },
                error: function(error) {
                    alert('An error occurred during submission.');
                }
            });
        }
    }

    $("table input[type=file]").change(function() {
        let id = this.id;
        let hiddenInputId = "#" + id + "-filename";
        $(hiddenInputId).val(this.value.replace("C:\\fakepath\\", ""));
    });

    $("table .select-option").change(function() {
        var id = this.id;
        $("#" + id + "-select-option").val(this.value);
    });

    $("table input[type=checkbox].boolean-checkbox").click(function() {
        let id = this.id;
        let hiddenInputId = "#" + id + "-checkbox";
        $(hiddenInputId).val(this.checked);
    });

    $("table input[type=checkbox].multi-select-checkbox").click(function() {
        let id = this.id.split('-')[0];

        let checkedValues = [];
        $("table input[type=checkbox].multi-select-checkbox:checked").each(function() {
            checkedValues.push($(this).val());
        });

        let hiddenInputId = "#" + id + "-multi-select-option";
        $(hiddenInputId).val(checkedValues.join(", "));
    });

    function downloadFile(button) {
        var fullUrl = $(button).data('guid');
        var guid = fullUrl.split('/').pop();
        fetch('/downloadFile/' + guid)
            .then(response => {
                if (response.ok) {
                    const disposition = response.headers.get('Content-Disposition');
                    let fileName = 'downloaded_file';
                    if (disposition && disposition.includes('filename=')) {
                        fileName = disposition.split('filename=')[1].trim().replace(/["]/g, '');
                    }
                    return response.blob().then(blob => {
                        const url = window.URL.createObjectURL(blob);
                        const a = document.createElement('a');
                        a.style.display = 'none';
                        a.href = url;
                        a.download = fileName;
                        document.body.appendChild(a);
                        a.click();
                        window.URL.revokeObjectURL(url);
                    });
                } else {
                    throw new Error('Network response was not ok');
                }
            })
            .catch(error => {
                console.error('There has been a problem with your fetch operation:', error);
                alert('An error occurred while downloading the file.');
            });
    }
</script>
</body>
</html>

