<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
    <title>Edit Homework</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <meta name="_csrf" th:content="${_csrf.token}" />
    <meta name="_csrf_header" th:content="${_csrf.headerName}" />
</head>
<body>
<div th:insert="~{header :: main}">...</div>

<div class="container">
    <div class="row note_card">
        <fieldset>
            <legend>Edit Homework</legend>
            <button type="button" class="btn btn-secondary" onclick="window.history.back();">Back</button>
            <div class="form-group">
                <label for="homeworkName"><strong>Name:</strong></label>
                <span id="homeworkName" th:text="${homework.name}">Homework Name</span>
            </div>
            <div class="form-group">
                <label for="homeworkDetails"><strong>Description:</strong></label>
                <span id="homeworkDetails" th:text="${homework.description}">Homework Description</span>
            </div>

            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Question</th>
                        <th>Type</th>
                        <th>Response</th>
                        <th>File Upload</th>
                    </tr>
                    </thead>
                    <tbody>
                    <form th:each="question : ${homework.questions}" th:id="${question.questionId}">
						<input type="hidden" name="homeworkId" th:value="${homeworkId}" />
						<input type="hidden" name="questionId" th:value="${question.questionId}"/>
                        <tr>
                            <td th:text="${question.question}"></td>
                            <td th:text="${question.questionType}"></td>
                            <td>
                                <span th:switch="${question.questionType}">
                                    <span th:case="'FILE'">
                                        <input type="file" name="response" th:value="${question.userResponse}" />
                                    </span>
                                    <span th:case="'DATE'">
                                        <input type="date" name="response" th:value="${question.userResponse}" />
                                    </span>
                                    <span th:case="'DATETIME'">
                                        <input type="datetime-local" name="response" th:value="${question.userResponse}" />
                                    </span>
                                    <span th:case="'BOOLEAN'">
                                        <input type="checkbox" name="response" th:value="${question.userResponse}" />
                                    </span>
                                    <span th:case="'SELECT_OPTION'">
                                        <select name="${question.questionId}" th:value="${question.userResponse}">
                                            <option value="">-- Please select an answer --</option>
                                            <option id="opt1" value="Option 1">Option 1</option>
                                            <option id="opt2" value="Option 2">Option 1</option>
                                            <option id="opt3" value="Option 3">Option 1</option>
                                        </select>
                                    </span>
                                    <span th:case="'MULTI_SELECT_OPTION'">
                                        <input type="checkbox" name="MULTI_SELECT_TEST" id="opt1" value="Option 1"><label for="opt1">Option 1</label>
                                        <input type="checkbox" name="MULTI_SELECT_TEST" id="opt2" value="Option 2"><label for="opt2">Option 2</label>
                                        <input type="checkbox" name="MULTI_SELECT_TEST" id="opt3" value="Option 3"><label for="opt3">Option 3</label>
                                    </span>
                                    <span th:case="*">
                                        <input type="text" name="response" th:value="${question.userResponse}" />
                                    </span>
                                </span>
                            </td>
                            <td>
                                <input type="file" name="file" value="${question.file}" />
                            </td>
                        </tr>
                    </form>
                    </tbody>
                </table>
            </div>
            <button id="submitAll" class="btn btn-primary">Submit All Responses</button> 
        </fieldset>
    </div>
</div>

<script th:inline="javascript">
    document.addEventListener('DOMContentLoaded', function () {
        var csrfToken = document.querySelector('meta[name="_csrf"]').getAttribute('content');
        var csrfHeader = document.querySelector('meta[name="_csrf_header"]').getAttribute('content');

        var forms = document.querySelectorAll('form');
        var currentIndex = 0;

        document.getElementById('submitAll').addEventListener('click', function () {
            submitNextForm();
        });

        function submitNextForm() {
            if (currentIndex < forms.length) {
                var formData = new FormData(forms[currentIndex]);

                fetch('/uploadFileToHomework/', {
                    method: 'PATCH',
                    body: formData,
                    headers: {
                        [csrfHeader]: csrfToken
                    }
                })
                .then(response => response.json())
                .then(data => {
                    console.log('Success:', data);
                    alert('File uploaded successfully!');
                    currentIndex++;
                    submitNextForm(); // Submit the next form recursively
                })
                .catch((error) => {
                    console.error('Error:', error);
                    alert('Error uploading file');
                });
            }
        }
    });
</script>

</body>
</html>
