<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
    <title>View Homework</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <meta name="_csrf" th:content="${_csrf.token}" />
    <meta name="_csrf_header" th:content="${_csrf.headerName}" />
    <style>
        .hidden {
            display: none;
        }
    </style>
</head>
<body>
<div th:insert="~{header :: main}">...</div>

<!-- Message banner -->
<div class="container">
    <div id="messageBanner" class="alert" style="display: none;" role="alert"></div>
</div>

<div class="container">
    <div class="row">
        <fieldset class="col-12">
            <legend>View Homework</legend>
            <button type="button" class="btn btn-primary mb-3" onclick="window.history.back();">Back</button>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Details</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="homework : ${homeworks}">
                            <td th:text="${homework.name}">Homework Name</td>
                            <td th:text="${homework.description}">Homework Description</td>
                            <td>
                                <div th:id="'details-' + ${homework.id}" class="hidden mt-2">
                                    <div class="table-responsive">
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>Question</th>
                                                    <th>Response</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr th:each="question : ${homework.questions}" th:with="response=${question.userResponse == null ? question.userResponse : ''}">
                                                    <td th:text="${question.question}">Question</td>
                                                    <td th:if="${question.questionType == 'FILE'}">
                                                        <button type="button" class="btn btn-secondary" th:data-guid="${question.userResponse}" onclick="downloadFile(this)">Download File</button>
                                                    </td>
                                                    <td th:if="${question.questionType != 'FILE'}" th:text="${response}">Response</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <button type="button" class="btn btn-secondary" th:onclick="'goToHomework(' + ${homework.id} + ')'">Go To</button>
                                    <button type="button" class="btn btn-secondary" th:onclick="'toggleDetails(' + ${homework.id} + ')'">Details</button>
                                    <button type="button" class="btn btn-secondary" th:onclick="'emailRequest(' + ${homework.id} + ', ' + ${clientId} + ')'">Email Request</button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
        </fieldset>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
<script>
    var clientId = [[${clientId}]];

    function showBannerMessage(message, type) {
        var banner = document.getElementById('messageBanner');
        banner.textContent = message;
        banner.className = 'alert alert-' + type;
        banner.style.display = 'block';
    }


    function toggleDetails(id) {
        var detailsElement = document.getElementById('details-' + id);
        if (detailsElement.classList.contains('hidden')) {
            detailsElement.classList.remove('hidden');
        } else {
            detailsElement.classList.add('hidden');
        }
    }

    function goToHomework(id) {
        window.location = '/homeworkDisplay/' + id;
    }

    function downloadFile(button) {
        var fullUrl = $(button).data('guid');
        var guid = fullUrl.split('/').pop(); 
        fetch('/downloadFile/' + guid)
            .then(response => {
                if (response.ok) {
                    const disposition = response.headers.get('Content-Disposition');
                    let fileName = 'downloaded_file';
                    if (disposition && disposition.includes('filename=')) {
                        fileName = disposition.split('filename=')[1].trim().replace(/["]/g, '');
                    }
                    return response.blob().then(blob => {
                        const url = window.URL.createObjectURL(blob);
                        const a = document.createElement('a');
                        a.style.display = 'none';
                        a.href = url;
                        a.download = fileName; 
                        document.body.appendChild(a);
                        a.click();
                        window.URL.revokeObjectURL(url);
                    });
                } else {
                    throw new Error('Network response was not ok');
                }
            })
            .catch(error => {
                console.error('There has been a problem with your fetch operation:', error);
                showBannerMessage('An error occurred while downloading the file.', 'danger');
            });
    }

    function emailRequest(homeworkId, clientId) {
        let homeworkRow = $('#details-' + homeworkId);
        let message = 'Our Records indicate that we are missing some information\nPlease complete the following questions:\n\n';

        homeworkRow.find('table tbody tr').each(function() {
            let question = $(this).find('td:eq(0)').text().trim();
            let response = $(this).find('td:eq(1)').text().trim();
            message += question + ': ' + (response ? response : 'No response') + '\n';
        });

        let subject = 'Attention Required';
        let csrfToken = $('meta[name="_csrf"]').attr('content');
        let csrfHeader = $('meta[name="_csrf_header"]').attr('content');

        $.ajax({
            type: 'POST',
            url: '/sendEmail/' + userId,
            contentType: 'application/json',
            data: JSON.stringify({ subject: subject, message: message }),
            beforeSend: function(xhr) {
                xhr.setRequestHeader(csrfHeader, csrfToken);
            },
            success: function(response) {
                showBannerMessage('Email sent successfully!', 'success');
            },
            error: function(xhr, status, error) {
                console.error('Error:', error);
                showBannerMessage('An error occurred while sending the email.', 'danger');
            }
        });
    }
</script>
</body>
</html>



