
<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
    <title>Edit Homework</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <meta name="_csrf" th:content="${_csrf.token}" />
    <meta name="_csrf_header" th:content="${_csrf.headerName}" />
</head>
<body>
<div th:insert="~{header :: main}">...</div>

<div class = "container">
	<div class="row note_card">
		<fieldset>
			<legend>Edit Homework</legend>
			<button type="button" class="btn btn-secondary" onclick="window.history.back();">Back</button>
			<div class="form-group">
			    <label for="homeworkName"><strong>Name:</strong></label>
			    <span id="homeworkName"  th:text="${homework.name}">Homework Name</span>
			</div>
			<div class="form-group">
			    <label for="homeworkDetails"><strong>Description:</strong></label>
			    <span id="homeworkDetails" th:text="${homework.description}">Homework Description</span>
			</div>

			<form id="homeworkForm" action="#" method="post">
			    <span class="table-responsive">
			        <table class="table">
			            <thead>
			                <tr>
			                    <th>Question</th>
			                    <th>Type</th>
			                    <th>Response</th>

			                </tr>
			            </thead>
			            <tbody>
			                <tr th:each="question : ${homework.questions}" th:id="${question.questionId}">
							    <td th:text="${question.question}"></td>
							    <td th:text="${question.questionType}"></td>
							    <td>
									  <span th:switch="${question.questionType}">
						                <span th:case="'FILE'">
                                            <button type="button" class="btn btn-primary upload-file-button">Upload File</button>
                                            <span th:if="${question.userResponse} != null and ${question.userResponse} != ''">
                                                <button type="button" class="btn btn-primary" th:data-guid="${question.userResponse}" onclick="downloadFile(this)">Download File</button>
                                            </span>
                                        </span>
						                <span th:case="'DATE'">
											<input type="date" th:name="response" th:value="${question.userResponse}" />
										</span>
						                <span th:case="'DATETIME'">
											<input type="datetime-local" th:name="response" th:value="${question.userResponse}" />
										</span>
						                <span th:case="'BOOLEAN'">
											<input type="checkbox" th:name="response" th:value="${question.userResponse}" />
										</span>
						                <span th:case="'SELECT_OPTION'">
											<select th:name="${question.questionId}" th:value="${question.userResponse}" >
												<option value="">-- Please select an answer --</option>
												<option id="opt1" value="Option 1">Option 1</option>
												<option id="opt2" value="Option 2">Option 1</option>
												<option id="opt3" value="Option 3">Option 1</option>
											</select>
										</span>
						                <span th:case="'MULTI_SELECT_OPTION'">
											<input type="checkbox" name="MULTI_SELECT_TEST" id="opt1" value="Option 1"><label for="opt1">Option 1</label>
											<input type="checkbox" name="MULTI_SELECT_TEST" id="opt2" value="Option 2"><label for="opt2">Option 2</label>
											<input type="checkbox" name="MULTI_SELECT_TEST" id="opt3" value="Option 3"><label for="opt3">Option 3</label>
										</span>
						                <span th:case="*">
											<input type="text" th:name="response" th:value="${question.userResponse}" />
										</span>
   							 </td>

						</tr>

			            </tbody>
			        </table>
			        <button type="submit" class="btn btn-primary">Submit Responses</button>
			        <br>
			    </div>
			</form>
		</fieldset>
	</div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
<script th:inline="javascript">
    var homeworkId = [[${homeworkId}]];
    document.addEventListener('DOMContentLoaded', function () {
        // Handle click event for upload file buttons
        document.querySelectorAll('.upload-file-button').forEach(function(button) {
            button.addEventListener('click', function() {
                var questionId = button.closest('tr').id;
                var url = '/uploadFile/' + homeworkId + '/' + questionId;
                // Open popup window with specified dimensions
                window.open(url, 'Upload File', 'width=600,height=400');
            });
        });

        document.getElementById('homeworkForm').addEventListener('submit', function (event) {
            event.preventDefault();

            // Prepare a list to hold DTO objects
            var assignedResponses = [];
            var rows = document.querySelectorAll('tbody tr');
            
            rows.forEach(function (row) {
                // Ensure that both input elements exist before accessing their values
                var responseInput = row.querySelector(`input[name='response']`);
                var filePathInput = row.querySelector(`input[name='filePath']`);
                
                var responseValue = responseInput ? responseInput.value : "";
                var filePathValue = filePathInput ? filePathInput.value : "";

                var dto = {
                    id: parseInt(row.id, 10), // Parse the ID as an integer
                    response: responseValue,
                    filePath: filePathValue ? filePathValue : "" // Set to null if empty
                };
                assignedResponses.push(dto);
            });

            // Correctly form the URL with the homeworkId
            fetch(`/assignUserResponseToHomework/${homeworkId}`, {
                method: 'PATCH',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRF-TOKEN': [[${_csrf.token}]]
                },
                body: JSON.stringify(assignedResponses)
            })
            .then(response => response.json())
            .then(data => {
                alert('Success:', data);
            })
            .catch((error) => {
                console.error('Error:', error);
            });
        });
    });
    
        function downloadFile(button) {
	    var fullUrl = $(button).data('guid');
	    var guid = fullUrl.split('/').pop(); 
	    fetch('/downloadFile/' + guid)
	        .then(response => {
	            if (response.ok) {
	                const disposition = response.headers.get('Content-Disposition');
	                let fileName = 'downloaded_file';
	                if (disposition && disposition.includes('filename=')) {
	                    fileName = disposition.split('filename=')[1].trim().replace(/["]/g, '');
	                }
	                return response.blob().then(blob => {
	                    const url = window.URL.createObjectURL(blob);
	                    const a = document.createElement('a');
	                    a.style.display = 'none';
	                    a.href = url;
	                    a.download = fileName; 
	                    document.body.appendChild(a);
	                    a.click();
	                    window.URL.revokeObjectURL(url);
	                });
	            } else {
	                throw new Error('Network response was not ok');
	            }
	        })
	        .catch(error => {
	            console.error('There has been a problem with your fetch operation:', error);
	            alert('An error occurred while downloading the file.');
	        });
	}
</script>


</body>
</html>
