<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Login Form</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div th:insert="~{externalheader :: main}">...</div>

<div class="row featurette">
    <div class="col-md-3">&nbsp;</div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h2 class="text-center">Login Form</h2>
            </div>
            <div class="card-body">
                <div th:if="${param.logout}">
                    <div class="alert alert-success"> You have been logged out.</div>
                </div>
                <div th:if="${param.error}">
                    <div class="alert alert-danger" id="errorBanner"> Those are not valid credentials.</div>
                </div>
                <form method="post" role="form" th:action="@{/login}" class="form-horizontal">
                    <div class="form-group mb-3">
                        <label class="control-label"> Email</label>
                        <input type="text" id="username" name="username" class="form-control"
                               placeholder="Enter email address"/>
                    </div>

                    <div class="form-group mb-3">
                        <label class="control-label"> Password</label>
                        <input type="password" id="password" name="password" class="form-control"
                               placeholder="Enter password"/>
                    </div>
                    <div class="form-group mb-3">
                        <button type="submit" class="btn btn-primary">Submit</button>&nbsp;&nbsp;
                        <button type="button" class="btn btn-primary" onclick="forgotPassword()">Forgot Password</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<br/><br/><br/>
<div class="row" align="center">
    <div th:insert="~{footer :: main}">...</div>
</div>
<script>
    function forgotPassword() {
        window.location='/forgotPassword';
    }
</script>
</body>
</html>
