<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>New Household</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div th:insert="~{header :: main}">...</div>

<div class="container">
    <div class="container">
        <div th:if="${not #strings.isEmpty(success)}" class="alert alert-success" th:text="${success}">
            <!-- Success message will be displayed here -->
        </div>

        <!-- Display error message -->
        <div id="errorBanner" class="alert alert-danger d-none" role="alert">
            <!-- Error message will be displayed here -->
        </div>
    </div>
    <div class="row note_card">
        <fieldset>
            <legend>New Household</legend>
            <form method="post" id="householdForm">
                <div id="householdInfo">
                    <div class="form-group">
                        <label for="name">Household Name:</label>
                        <input type="text" id="name" name="name" class="form-control">
                    </div>

                    <div class="form-group">
                        <label for="description">Description:</label>
                        <input type="text" id="description" name="description" class="form-control">
                    </div>
                </div>

                <div id="primaryContactSection" class="card my-3">
                    <fieldset>
                        <legend>Primary Contacts</legend>
                        <div class="card-body">
                            <ul id="primaryContactList" class="list-group mb-3"></ul>
                            <button type="button" class="btn btn-primary" onclick="togglePrimaryContactFields()">Add Primary Contact</button>
                            <div id="primaryContactFields" class="d-none mt-3">
                                <select id="primaryContactSelect" class="form-control" onchange="checkNewPrimaryContact()">
									<option value="new">Add New Primary Contact</option>
                                    <option th:each="user : ${userList}" th:value="${user.id}" th:text="${user.firstName} + ' ' + ${user.lastName}"></option>
                                    
                                </select>
                                <button id="confirmPrimaryContactBtn" type="button" class="btn btn-success mt-2" onclick="addPrimaryContact('primaryContactSelect')">Confirm Primary Contact</button>
                            </div>
                            <div id="newPrimaryContactForm" class="d-none mt-3">
                                <!-- New Primary Contact Form will be injected here -->
                            </div>
                        </div>
                    </fieldset>
                </div>

                <div id="coClientSection" class="card my-3">
                    <fieldset>
                        <legend>CoClients</legend>
                        <div class="card-body">
                            <ul id="coClientList" class="list-group mb-3"></ul>
                            <button type="button" class="btn btn-primary" onclick="toggleCoClientFields()">Add CoClient</button>
                            <div id="coClientFields" class="d-none mt-3">
                                <select id="coClientSelect" class="form-control" onchange="checkNewCoClient()">
									<option value="new">Add New CoClient</option>
                                    <option th:each="user : ${userList}" th:value="${user.id}" th:text="${user.firstName} + ' ' + ${user.lastName}"></option>
                                    
                                </select>
                                <button id="confirmCoClientBtn" type="button" class="btn btn-success mt-2" onclick="addCoClient('coClientSelect')">Confirm CoClient</button>
                            </div>
                            <div id="newCoClientForm" class="d-none mt-3">
                                <!-- New CoClient Form will be injected here -->
                            </div>
                        </div>
                    </fieldset>
                </div>
                
                <button type="button" class="btn btn-primary" onclick="window.history.back();">Back</button>
                <button type="submit" class="btn btn-success" onclick="saveHousehold(); return false;">Save</button>
            </form>
        </fieldset>
    </div>
</div>

<script>
    let primaryContactAdded = false;
    const primaryContactsIds = [];
    const coClientsIds = [];
    
    function handleBeforeUnload(e) {
        const confirmationMessage = 'Are you sure you want to leave the page? All progress will be lost.';
        e.returnValue = confirmationMessage; // Standard way of showing confirmation dialog
        return confirmationMessage; // Some browsers may require this
    }

    window.addEventListener('beforeunload', handleBeforeUnload);

    function togglePrimaryContactFields() {
        document.getElementById('primaryContactFields').classList.toggle('d-none');
    }

    function toggleCoClientFields() {
        document.getElementById('coClientFields').classList.toggle('d-none');
    }

    function checkNewPrimaryContact() {
        const select = document.getElementById('primaryContactSelect');
        if (select.value === 'new') {
            document.getElementById('newPrimaryContactForm').innerHTML = getNewContactFormHtml('primary');
            document.getElementById('newPrimaryContactForm').classList.remove('d-none');
            document.getElementById('confirmPrimaryContactBtn').classList.add('d-none');
        } else {
            document.getElementById('newPrimaryContactForm').classList.add('d-none');
            document.getElementById('confirmPrimaryContactBtn').classList.remove('d-none');
        }
    }

    function checkNewCoClient() {
        const select = document.getElementById('coClientSelect');
        if (select.value === 'new') {
            document.getElementById('newCoClientForm').innerHTML = getNewContactFormHtml('coClient');
            document.getElementById('newCoClientForm').classList.remove('d-none');
            document.getElementById('confirmCoClientBtn').classList.add('d-none');
        } else {
            document.getElementById('newCoClientForm').classList.add('d-none');
            document.getElementById('confirmCoClientBtn').classList.remove('d-none');
        }
    }

    function getNewContactFormHtml(type) {
        return `
            <div class="form-group">
                <label for="${type}Email">Email:</label>
                <input type="text" id="${type}Email" name="email" class="form-control">
            </div>

            <div class="form-group">
                <label for="${type}FirstName">First Name:</label>
                <input type="text" id="${type}FirstName" name="firstName" class="form-control">
            </div>

            <div class="form-group">
                <label for="${type}LastName">Last Name:</label>
                <input type="text" id="${type}LastName" name="lastName" class="form-control">
            </div>

            <div class="form-group">
                <label for="${type}Username">Username:</label>
                <input type="text" id="${type}Username" name="username" class="form-control">
            </div>

            <button type="button" class="btn btn-success mt-2" onclick="saveNewClient('${type}')">Create ${type === 'primary' ? 'Primary Contact' : 'CoClient'}</button>
        `;
    }

    function validateEmail(email) {
        const re = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
        return re.test(String(email).toLowerCase());
    }


    function showValidationError(message) {
        const errorBanner = document.getElementById('errorBanner');
        errorBanner.classList.remove('d-none');
        errorBanner.textContent = 'Error: ' + message;
    }

    function saveNewClient(type) {
        const email = document.getElementById(`${type}Email`).value;
		const lastName = document.getElementById(`${type}LastName`).value;

        if (!validateEmail(email)) {
            showValidationError('Invalid email address.');
            return;
        }


        const csrfToken = document.querySelector('meta[name="_csrf"]').getAttribute('content');
        const csrfHeader = document.querySelector('meta[name="_csrf_header"]').getAttribute('content');

        const clientData = {
            username: document.getElementById(`${type}Username`).value,
            firstName: document.getElementById(`${type}FirstName`).value,
            lastName: lastName,
            email: email,
            password: null, 
            roles: [2]
        };

        $.ajax({
            url: '/addClient/',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(clientData),
            beforeSend: function(xhr) {
                xhr.setRequestHeader(csrfHeader, csrfToken);
            },
            success: function(data) {
                if (data.message) {
                    const userId = data.clientId;
                    fetchUserAndAddToDropdown(type, userId);
                } else {
                    showError(data.error || 'Unknown error occurred.');
                }
            },
            error: function(xhr, status, error) {
                showError('Error adding client: ' + error);
            }
        });
    }

    function fetchUserAndAddToDropdown(type, userId) {
        $.ajax({
            url: `/getUser/${userId}`,
            type: 'GET',
            success: function(data) {
                const newOption = document.createElement('option');
                newOption.value = userId;
                newOption.text = data.name;

                if (type === 'primary') {
                    const select = document.getElementById('primaryContactSelect');
                    select.appendChild(newOption);
                    select.value = userId;
                    addPrimaryContact('primaryContactSelect');
                } else {
                    const select = document.getElementById('coClientSelect');
                    select.appendChild(newOption);
                    select.value = userId;
                    addCoClient('coClientSelect');
                }

                document.getElementById(`new${type.charAt(0).toUpperCase() + type.slice(1)}ContactForm`).classList.add('d-none');
            },
            error: function(xhr, status, error) {
                showError('Error fetching user details: ' + error);
            }
        });
    }

    function addPrimaryContact(id) {
        if (primaryContactAdded) {
            showError('Primary contact already added.');
            return;
        }

        const select = document.getElementById(id);
        const userId = select.value;
        const userName = select.options[select.selectedIndex].text;

        primaryContactsIds.push(parseInt(userId));
        primaryContactAdded = true;

        const li = document.createElement('li');
        li.className = 'list-group-item d-flex justify-content-between align-items-center';
        li.textContent = userName;

        const removeButton = document.createElement('button');
        removeButton.className = 'btn btn-danger btn-sm';
        removeButton.textContent = 'Remove';
        removeButton.onclick = () => removeElement(removeButton, userId, primaryContactsIds, () => primaryContactAdded = false);
        li.appendChild(removeButton);

        document.getElementById('primaryContactList').appendChild(li);

        togglePrimaryContactFields();
    }

    function addCoClient(id) {
        const select = document.getElementById(id);
        const userId = select.value;
        const userName = select.options[select.selectedIndex].text;

        coClientsIds.push(parseInt(userId));

        const li = document.createElement('li');
        li.className = 'list-group-item d-flex justify-content-between align-items-center';
        li.textContent = userName;

        const removeButton = document.createElement('button');
        removeButton.className = 'btn btn-danger btn-sm';
        removeButton.textContent = 'Remove';
        removeButton.onclick = () => removeElement(removeButton, userId, coClientsIds);
        li.appendChild(removeButton);

        document.getElementById('coClientList').appendChild(li);

        toggleCoClientFields();
    }

    function removeElement(button, userId, idArray, callback) {
        const index = idArray.indexOf(parseInt(userId));
        if (index > -1) {
            idArray.splice(index, 1);
            const row = button.parentNode;
            row.parentNode.removeChild(row);
            if (callback) callback();
        }
    }

    function saveHousehold() {

        window.removeEventListener('beforeunload', handleBeforeUnload);

        const name = document.getElementById('name').value;
        const description = document.getElementById('description').value;

        if (!name || !description) {
            showError('Both Household Name and Description are required.');
            return; 
        }

        if (!primaryContactsIds.length) {
            showError('A primary contact must be added.');
            return;
        }

        const csrfToken = document.querySelector('meta[name="_csrf"]').getAttribute('content');
        const csrfHeader = document.querySelector('meta[name="_csrf_header"]').getAttribute('content');

        const householdData = JSON.stringify({
            name: name,
            description: description,
            primaryContactsIds: primaryContactsIds,
            householdAccountsIds: coClientsIds
        });

        fetch('/addHousehold/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'Accept': 'application/json',
                [csrfHeader]: csrfToken
            },
            body: householdData
        })
        .then(response => response.json())
        .then(data => {
            if (data.message) {
                window.location.href = '/clients';
            } else {
                showError(data.error || 'Unknown error occurred.');
                // Re-attach the beforeunload event listener if the submission fails
                window.addEventListener('beforeunload', handleBeforeUnload);
            }
        })
        .catch(error => {
            showError('Error adding household: ' + error.message);
            // Re-attach the beforeunload event listener if the submission fails
            window.addEventListener('beforeunload', handleBeforeUnload);
        });

        return; 
    }

    function showError(message) {
        const errorBanner = document.getElementById('errorBanner');
        errorBanner.classList.remove('d-none');
        errorBanner.textContent = 'Error: ' + message;
    }
</script>
<div th:insert="~{footer :: main}">...</div>
</body>
</html>


