<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Protocols</title>
</head>
<body>
<div th:insert="~{header :: main}">...</div>

<div class="container">
    <div id="messageBanner" class="alert d-none" role="alert"></div>

    <div class="row note_card">
        <fieldset>
            <legend>Protocols</legend>
            <button class="btn btn-primary" onclick="selectProtocol(0);">New Protocol</button>
            <div class="row">
                <div class="col">
                    <label>Name</label>
                </div>
                <div class="col">
                    <label>Actions</label>
                </div>
            </div>
            <div th:each="pcol, status : ${listProtocols}" th:id="|row_${pcol.id}|"
                 th:class="${status.index % 2 == 0 ? 'row even' : 'row odd'}">
                <div class="col" th:text="${pcol.name}"></div>
                <div class="col">
                    <a class="btn btn-sm btn-secondary" th:href="${'javascript:selectProtocol(' + pcol.id + ');'}">Details</a>
                    <button type="button" class="btn btn-danger" th:onclick="'javascript:disableProtocol('+pcol.id+');'">Disable</button>
                </div>
            </div>
        </fieldset>
        <div class="row ">&nbsp;</div>
    </div>
</div>
<br />
<br />
<br />
<div th:insert="~{footer :: main}">...</div>

<script>
    function selectProtocol(id){
        window.location = '/displayProtocol/'+id;       
    }

    function showMessageBanner(message, type) {
        const banner = document.getElementById('messageBanner');
        banner.className = 'alert alert-' + type;
        banner.textContent = message;
        banner.classList.remove('d-none');
    }

    function disableProtocol(id) {}
    
</script>

</body>
</html>
