<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Homework Questions</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div th:insert="~{header :: main}">...</div>

<div class="container">
    <div class="row note_card">
        <fieldset>
            <legend>New Protocol Template Details</legend>

            <div id="messageBanner" class="alert d-none" role="alert"></div>

            <form id="protocolForm">
                <div class="row">
                    <div class="col-md-1">
                        <label for="protocolName" class="mr-md-3"><strong>Name:</strong></label>
                    </div>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="protocolName" name="name"/>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-1">
                        <label for="protocolDescription"><strong>Description:</strong></label>
                    </div>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="protocolDescription" name="description"/>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-1">
                        <label for="protocolType" class="d-inline"><strong>Type:</strong></label>
                    </div>
                    <div class="col-md-2">
                        <select class="form-control" id="protocolType" name="type">
                            <option value="LIFECYCLE">Life Cycle</option>
                            <option value="EVENT_DRIVEN">Event</option>
                        </select>
                    </div>
                </div>
                <br>
                <div class="row mt-3">
                    <div class="col-md-2">
                        <label for="dueDate" class="mr-md-1"><strong>Default Due Date: </strong></label>
                    </div>
                    <div class="col-md-2">
                        <label for="dueDateYear" class="d-inline"><strong>Year</strong></label>
                        <input type="number" class="form-control d-inline" id="dueDateYear" name="year" placeholder="0-10" min="0" max="10" value="0" style="width: 40%;">
                    </div>
                    <div class="col-md-2">
                        <label for="dueDateMonth" class="d-inline"><strong>Month</strong></label>
                        <input type="number" class="form-control d-inline" id="dueDateMonth" name="month" placeholder="0-12" min="0" max="12" value="0" style="width: 40%;">
                    </div>
                    <div class="col-md-2">
                        <label for="dueDateDay" class="d-inline"><strong>Day</strong></label>
                        <input type="number" class="form-control d-inline" id="dueDateDay" name="day" placeholder="0-31" min="0" max="31" value="0" style="width: 40%;">
                    </div>
                </div>
                <br>
                <div class="border border-dark p-3 mb-3">
                    <div class="row">
                        <div class="col-md-2">
                            <label for="reoccurring" class="mr-md-"><strong>Default as Reoccurring?</strong></label>
                            <input type="checkbox" id="reoccurring" name="reoccurring"/>
                        </div>
                    </div>
                    <div id="schedule-fields">
                        <div class="row mt-3">
                            <div class="col-md-2">
                                <label for="schedule" class="mr-md-1"><strong>Default Schedule?</strong></label>
                            </div>
                            <div class="col-md-2">
                                <label for="year" class="d-inline"><strong>Year</strong></label>
                                <input type="number" class="form-control d-inline" id="year" name="year" placeholder="1-10" min="0" max="10" style="width: 40%;">
                            </div>
                            <div class="col-md-2">
                                <label for="month" class="d-inline"><strong>Month</strong></label>
                                <input type="number" class="form-control d-inline" id="month" name="month" placeholder="1-12" min="0" max="12" style="width: 40%;">
                            </div>
                            <div class="col-md-2">
                                <label for="day" class="d-inline"><strong>Day</strong></label>
                                <input type="number" class="form-control d-inline" id="day" name="day" placeholder="1-31" min="1" max="31" style="width: 40%;">
                            </div>
                        </div>
                    </div>
                </div>
                <br>
            </form>
            
            <button onclick="history.back()" class="btn btn-primary">Back</button>
            <button type="button" class="btn btn-success" onclick="saveProtocolTemplate()">Save Template</button>
        </fieldset>
    </div>
</div>

<div class="container">
	<div class="row note_card">
	<fieldset>
 	<legend>Homework Questions</legend>

    <div id="questionContainer" class="mt-4"></div>
    
    <!-- Button to create a new question form -->
    <button class="btn btn-primary mb-4" onclick="openQuestionForm()">Add Question</button>

    <!-- Container to dynamically add question forms -->
    <div id="formContainer"></div>


	</fieldset>
	</div>
</div>

<div class="container">
    <div class="row note_card">
        <fieldset>
            <legend>Steps</legend>
            
            <!-- Tabs for filtering steps -->
            <ul class="nav nav-tabs">
                <li class="nav-item tab"><a class="nav-link active" href="#" onclick="filterStepsByCategory('all'); return false;">All</a></li>
                <li class="nav-item tab"><a class="nav-link" href="#" onclick="filterStepsByCategory('Gather Data'); return false;">Gather Data</a></li>
                <li class="nav-item tab"><a class="nav-link" href="#" onclick="filterStepsByCategory('Run Analysis'); return false;">Run Analysis</a></li>
                <li class="nav-item tab"><a class="nav-link" href="#" onclick="filterStepsByCategory('Craft Recommendations'); return false;">Craft Recommendations</a></li>
                <li class="nav-item tab"><a class="nav-link" href="#" onclick="filterStepsByCategory('Share Education'); return false;">Share Education</a></li>
            </ul>
            <!-- Steps Display Area -->
            <div id="stepsContent">
                <!-- Existing steps will be shown here -->
            </div>

            <!-- Add Step Dropdown -->
            <div class="form-group">
                <label for="stepSelector">Add Step:</label>
                <select class="form-control" id="stepSelector">
					<option value="new">Create New Step</option>
                    <option th:each="step : ${allSteps}" th:value="${step.id}" th:text="${step.name}"></option>
                </select>
                <button type="button" class="btn btn-primary" onclick="addStep()">Add Step</button>
            </div>
        </fieldset>
    </div>
</div>

<script>
	
		
	const maxHomeworkItems = 1;
	
	    
    let formCount = 0;  // To track the forms
    let questionList = [];

    // Function to open the question form in a pop-up window
    function openQuestionForm() {
        const popupWindow = window.open('/questionFormPopup', 'Question Form', 'width=600,height=600');
    }

    // Function to receive question data from the pop-up window
    function receiveQuestionData(questionData) {
        questionList.push(questionData);
        updateQuestionList();
    }

    // Update the displayed list of questions
function updateQuestionList() {
    const questionContainer = document.getElementById('questionContainer');
    questionContainer.innerHTML = '';  // Clear the container

    // Dynamically generate the question list items
    questionList.forEach((question, index) => {
        const rowClass = index % 2 === 0 ? 'even' : 'odd';  // Alternating classes for styling

        const questionItem = `
            <div id="row_${index}" class="row ${rowClass} mb-1" data-type="${question.type}" style="margin-bottom: 0; padding-bottom: 0;">
                <!-- Display Question Abbreviation and Buttons -->
                <div class="col-10">
                    ${question.questionAbbr}
                </div>
                <div class="col-2 text-right">
                    <button class="btn btn-sm btn-secondary" onclick="toggleDetails(${index})">Details</button>
                    <button class="btn btn-danger btn-sm" onclick="deleteQuestion(${index})">Delete</button>
                </div>

                <!-- Collapsible Section (Details) -->
                <div id="details-${index}" class="col-12 collapse mt-1">
                    <div class="row">
                        <!-- Question, Type, and Response Type in the same row -->
                        <div class="col-8">
                            ${question.question}
                        </div>
                        <div class="col-2">
                            ${question.type}
                        </div>
                        <div class="col-2">
                            ${question.responseType}
                        </div>
                    </div>

                    <!-- Tags in a separate row -->
                    <div class="row mt-1">
                        <div class="col-12">
                            Tags: ${question.tags.join(', ')}
                        </div>
                    </div>
                </div>
            </div>
        `;

        // Append the generated HTML to the question container
        questionContainer.insertAdjacentHTML('beforeend', questionItem);
    });
}

    // Function to toggle the display of question details
    function toggleDetails(index) {
        const detailsElement = document.getElementById(`details-${index}`);
        detailsElement.classList.toggle('collapse');
    }

    // Function to delete a question from the list
    function deleteQuestion(index) {
        questionList.splice(index, 1);
        updateQuestionList();
    }

    // This function will receive the question data from the pop-up window and continue as before
    window.addEventListener("message", (event) => {
        if (event.origin === window.location.origin) {
            receiveQuestionData(event.data);
        }
    });
	
    function editProtocol(id) {
        window.location = '/editStep/' + id;
    }

    function disableProtocol(id) {} // not implemented yet
    
    function saveprotocol() {
        window.location = '/newProtocol/';
    }
    
    function goToClient(id) {
        window.location.href = '/clientProfile/' + id;
    }
    
    function goToHomeworkTemplates() {
        window.location.href = '/homeworkTemplates/';
    }
    
	

    function addStep() {
        const select = document.getElementById('stepSelector');
        const selectedOption = select.options[select.selectedIndex];

        if (selectedOption.value === "new") {
            document.getElementById('newStepTemplate').style.display = 'block';
        } else {
            addStepById(selectedOption.value);
        }
    }

    function hideNewStepTemplate() {
        document.getElementById('newStepTemplate').style.display = 'none';
    }


    function filterStepsByCategory(categoryId) {
        const steps = document.querySelectorAll('#stepsContent > div');
        let visibleStepsCount = 0;

        steps.forEach(step => {
            if (categoryId === 'all' || step.getAttribute('data-type') === categoryId) {
                step.style.display = ''; // Show
                visibleStepsCount++;
            } else {
                step.style.display = 'none'; // Hide
            }
        });

        const noStepsMessage = document.getElementById('noStepsMessage');
        if (visibleStepsCount === 0) {
            if (!noStepsMessage) {
                const message = document.createElement('div');
                message.id = 'noStepsMessage';
                message.className = 'alert alert-warning';
                message.textContent = 'No steps found for this category';
                document.getElementById('stepsContent').appendChild(message);
            } else {
                noStepsMessage.style.display = ''; // Show existing message
            }
        } else if (noStepsMessage) {
            noStepsMessage.style.display = 'none'; // Hide message
        }
    }

    function viewHomeworkDetails(homeworkId) {
        var url = '/homeworkDisplay/' + homeworkId;
        window.location.href = url;
    }

    function calculateTotalDays(years, months, days) {
        const totalDays = years * 365 + months * 31 + days;
        return totalDays.toString(); // Convert the total days to a string
    }

    function showMessageBanner(message, type) {
        const banner = document.getElementById('messageBanner');
        banner.className = 'alert alert-' + type;
        banner.textContent = message;
        banner.classList.remove('d-none');
    }

    function saveProtocolTemplate() {
    }
    
    function addHomeworkTemplate() {
        var tableBody = document.getElementById("homeworkTable").getElementsByTagName('tbody')[0];
        
        var homeworkSelect = document.getElementById("homeworkTemplateDropdown");
        var selectedOption = homeworkSelect.options[homeworkSelect.selectedIndex];
        var homeworkExists = Array.from(tableBody.rows).some(row => row.dataset.homeworkId === selectedOption.value);
        
        if (homeworkExists) {
            showMessageBanner("This homework template is already added.", "warning");
            return; // Stop the function if the homework already exists
        }

        if (tableBody.rows.length >= maxHomeworkItems) {
            showMessageBanner("The maximum number of homework items allowed has been reached, please remove a homework item before trying to add another.", "warning");
            return; // Stop the function if the max limit is reached
        }

        if (selectedOption.value !== "") {
            var newRow = tableBody.insertRow();
            var cell1 = newRow.insertCell(0);
            var cell2 = newRow.insertCell(1);

            cell1.textContent = selectedOption.text;
            cell2.innerHTML = '<button type="button" class="btn btn-danger" onclick="removeHomework(this);">Remove</button>';
            newRow.dataset.homeworkId = selectedOption.value;

            homeworkSelect.selectedIndex = 0; // Reset the dropdown after adding
        } else {
            showMessageBanner("Please select a homework template before adding.", "warning");
        }
    }

    function removeHomework(button) {
        var row = button.parentNode.parentNode;
        row.parentNode.removeChild(row);
    }
    
    
function saveStep() {
        var stepData = {
            "categoryId": document.getElementById("stepCategory").value,
            "categoryName": document.getElementById("stepCategory").options[document.getElementById("stepCategory").selectedIndex].text,
            "name": document.getElementById("stepName").value,
            "description": document.getElementById("stepDetails").value,
            "homework": Array.from(document.querySelectorAll("#homeworkTable tbody tr")).map(row => {
                return {
                    "id": parseInt(row.dataset.homeworkId),
                    "name": row.cells[0].textContent.trim()
                };
            })
        };

        console.log("Saving step data:", stepData); // Logging step data

        $.ajax({
            url: '/saveStep/',
            type: 'POST',
            contentType: 'application/json',
            headers: {
                'X-CSRF-TOKEN': document.querySelector('meta[name="_csrf"]').content
            },
            data: JSON.stringify(stepData),
            success: function(response) {
                console.log("Step saved successfully, response data:", response); // Logging response data
                try {
                    var parsedResponse = JSON.parse(response);
                    var stepId = parsedResponse.stepId;
                    if (stepId) {
                        console.log("Step being added: ", stepId);
                        showMessageBanner('Step saved successfully!', 'success');
                        addStepById(stepId);
                        document.getElementById('newStepTemplate').style.display = 'none';
                    } else {
                        console.error("Error in response:", parsedResponse.message);
                        showMessageBanner('Error saving step: ' + parsedResponse.message, 'danger');
                    }
                } catch (error) {
                    console.error("Error parsing response:", error);
                    showMessageBanner('Error saving step: ' + error.message, 'danger');
                }
            },
            error: function(jqXHR, textStatus, errorThrown) {
                console.error("AJAX error:", errorThrown);
                showMessageBanner('Error saving step: ' + errorThrown, 'danger');
            }
        });
    }

    function addStepById(stepId) {
        console.log("Adding step by ID:", stepId); // Logging step ID

        $.ajax({
            url: '/getStep/' + stepId,
            type: 'GET',
            success: function(step) {
                console.log("Retrieved step data:", step); // Logging retrieved step data
                const stepsContainer = document.getElementById('stepsContent');
                const stepExists = Array.from(stepsContainer.children).some(child => child.getAttribute('data-step-id') === step.id.toString());

                if (stepExists) {
                    console.warn("Step already exists in protocol.");
                    showMessageBanner('Step has already been assigned to template.', 'danger');
                    return;
                }

                const newRow = document.createElement('div');
                newRow.className = 'row';
                newRow.innerHTML = `<div class="col-md-9">${step.name}</div>
                                    <div class="col-md-3"><button type="button" class="btn btn-danger" onclick="removeStep(this)">Remove Step</button></div>`;
                newRow.setAttribute('data-step-id', step.id);
                stepsContainer.appendChild(newRow);
                console.log("Step added to protocol.");
            },
            error: function(jqXHR, textStatus, errorThrown) {
                console.error("Error retrieving step:", errorThrown);
                showMessageBanner('Error retrieving step: ' + errorThrown, 'danger');
            }
        });
    }
    
    

    function removeStep(button) {
        const row = button.parentNode.parentNode;
        row.parentNode.removeChild(row);
    }

    $(document).ready(function() {
        $('#schedule-fields').hide(); // Hide by default
        $('#reoccurring').change(function() {
            if ($(this).is(':checked')) {
                $('#schedule-fields').show();
            } else {
                $('#schedule-fields').hide();
            }
        });
    });
    
  
</script>

</body>
</html>
