<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<div th:insert="~{header :: main}">...</div>
<body>
	<div class="container">
		<div>
			<fieldset>
				<legend> Active Protocols </legend>
				<div th:if="${msg}">
					<div class="alert alert-info" th:text="${msg}"></div>
				</div>
				<div class="row rowheader">
					<div class="col-md-2">
						Name
					</div>
					<div class="col-md-2">
						Number of Steps
					</div>
					<div class="col-md-2">
						Steps In Progress
					</div>
					<div class="col-md-1">
						Steps Completed
					</div>
					<div class="col-md-1">
						Completion Percent
					</div>
					
					<div class="col-md-2">
						Assigned Households
					</div>
					
					
					<div class="col-md-2">
						Action
					</div>
				</div>
				<div th:each="stat, status: ${stats}" th:id="|row_${stat.templateId}|" th:class="${status.index % 2 == 0 ? 'row even' : 'row odd'}">
					<div class="col-md-2" th:text="${stat.templateName}"></div>
					<div class="col-md-2" th:text="${stat.numSteps}"></div>
					<div class="col-md-2" th:text="${stat.progress}"></div>
					<div class="col-md-1" th:text="${stat.done}"></div>
					<div class="col-md-1" th:text="|${stat.completion}%|"></div>
				    <div class="col-md-2">
                        <button class="btn btn-sm btn-secondary" type="button" th:onclick="'toggleAssignedUsers(' + ${stat.templateId} + ')'">Show Users</button>
                        <div th:id="|assignedUsers_${stat.templateId}|" style="display: none;">
                            <ul>
                                <li th:each="household : ${stat.assignedHouseholds}">
                                    <ul>
                                        <li th:each="user : ${household.householdAccounts}" th:text="${user.firstName} + ' ' + ${user.lastName}"></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
					
					<div class="col-md-2">
						<a class="btn btn-sm btn-secondary" th:href="@{'/protocolsByTemplate/' + ${stat.templateId} + '/'}" th:text="'View Protocols'"></a>
					</div>
				</div>
				<div class="row ">&nbsp;</div>
			</fieldset>
			<div class="row ">&nbsp;</div>
		</div>
		
		<div>
            <fieldset>
                <legend> Protocols Coming Due </legend>
                <div class="row rowheader">
                    <div class="col-md-2">
                        Name
                    </div>
                    <div class="col-md-3">
                        Description
                    </div>
                    <div class="col-md-2">
                        Completion Percent
                    </div>
                    <div class="col-md-2">
                        Status
                    </div>
                    <div class="col-md-3">
                        Due Date
                    </div>
                </div>
                <div th:each="pcol, status : ${upcomingProtocols}" th:id="|row_${pcol.id}|" th:class="${status.index % 2 == 0 ? 'row even' : 'row odd'}" th:onclick="'viewProtocol(' + ${pcol.id} + ')'">
                    <div class="col-md-2" th:text="${pcol.name}"></div>
                    <div class="col-md-3" th:text="${pcol.description}"></div>
                    <div class="col-md-2" th:text="|${pcol.completionPercent}%|"></div>
                    <div class="col-md-2" th:text="${pcol.status == 'IN_PROGRESS' ? 'In Progress' : (pcol.status == 'COMPLETED' ? 'Completed' : 'Archived')}"></div>
                    <div class="col-md-3" th:text="${pcol.dueDate}"></div>
                </div>
                <div class="row ">&nbsp;</div>
            </fieldset>
            <div class="row ">&nbsp;</div>
        </div>
    </div>
	</div>

	<br />
	<br />
	<br />
	<script>
        function selectClient(id) {
            window.location = 'workClient/' + id;
        }
        function getProtocols(id) {
            window.location = '/protocolsByTemplate/' + id + '/'
        }
        function viewProtocol(pcolId) {
            window.location = '/viewProtocol/' + pcolId;
        }
        function toggleAssignedUsers(templateId) {
            var userList = document.getElementById('assignedUsers_' + templateId);
            if (userList.style.display === 'none') {
                userList.style.display = 'block';
            } else {
                userList.style.display = 'none';
            }
        }
    </script>
</body>
<div th:insert="~{footer :: main}">...</div>

</html>
