<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Protocols Dashboard</title>
    <meta name="_csrf" th:content="${_csrf.token}" />
    <meta name="_csrf_header" th:content="${_csrf.headerName}" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
</head>

<body>
    <div th:insert="~{header :: main}">...</div>
    <div class="container">
			<fieldset>
				<legend> Active Protocols </legend>
				<div th:if="${msg}">
					<div class="alert alert-info" th:text="${msg}"></div>
				</div>
				<div class="row rowheader">
					<div class="col-md-2">
						Name
					</div>
					<div class="col-md-2">
						Number of Steps
					</div>
					<div class="col-md-1">
						Steps In Progress
					</div>
					<div class="col-md-1">
						Steps Conditionally Completed
					</div>
					<div class="col-md-1">
						Steps Completed
					</div>
					<div class="col-md-1">
						Completion Percent
					</div>
					
					<div class="col-md-2">
						Assigned Households
					</div>
					
					
					<div class="col-md-2">
						Action
					</div>
				</div>
				<div th:each="stat, status: ${stats}" th:id="|row_${stat.templateId}|" th:class="${status.index % 2 == 0 ? 'row even' : 'row odd'}">
					<div class="col-md-2" th:text="${stat.templateName}"></div>
					<div class="col-md-2" th:text="${stat.numSteps}"></div>
					<div class="col-md-1" th:text="${stat.progress}"></div>
					<div class="col-md-1" th:text="${stat.conditionalCompleted}"></div>
					<div class="col-md-1" th:text="${stat.done}"></div>
					<div class="col-md-1" th:text="|${stat.completion}%|"></div>
 					<div class="col-md-2">
                        <button class="btn btn-sm btn-secondary" type="button" th:onclick="'toggleAssignedHouseholds(' + ${stat.templateId} + ')'">
                            <span th:text="'Number Of Households (' + ${stat.assignedHouseholdNum} + ')'"></span>
                        </button>
                        <div th:id="|assignedHouseholds_${stat.templateId}|" style="display: none;">
                            <ul>
                                <li th:each="household : ${stat.assignedHouseholds}" th:text="${household.name}"></li>
                            </ul>
                        </div>
                    </div>
					
					<div class="col-md-2">
						<a class="btn btn-sm btn-secondary" th:href="@{'/protocolsByTemplate/' + ${stat.templateId} + '/'}" th:text="'View Protocols'"></a>
					</div>
				</div>
				<div class="row ">&nbsp;</div>
			</fieldset>

        <fieldset>
            <legend>Protocols Coming Due</legend>
            <table id="upcomingProtocolsTable" class="table table-striped table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Completion Percent</th>
                        <th>Household</th>

                        <th>Due Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="pcol, status : ${upcomingProtocols}" th:style="${pcol.isLate} ? 'color: red;' : ''">
                        <td th:text="${pcol.name}"></td>
                        <td th:text="${pcol.description}"></td>
                        <td th:text="|${pcol.completionPercent}%|"></td>
                        <td>
                            <span th:each="household : ${households}" th:if="${household.id} == ${pcol.userId}" th:text="${household.name}"></span>
                        </td>
                        
                        <td th:text="${#dates.format(pcol.parsedDueDate, 'MM-dd-yy')}"></td>
                    </tr>
                </tbody>
            </table>
        </fieldset>
    </div>

    <div th:insert="~{footer :: main}">...</div>

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#activeProtocolsTable').DataTable({
                "paging": true,
                "lengthChange": true,
                "pageLength": 25,
                "lengthMenu": [
                    [10, 25, 100, -1],
                    [10, 25, 100, "All"]
                ],
                "dom": '<"top">rt<"bottom"lpi><"clear">',
                "info": true
            });

            $('#upcomingProtocolsTable').DataTable({
                "paging": true,
                "lengthChange": true,
                "pageLength": 25,
                "lengthMenu": [
                    [10, 25, 100, -1],
                    [10, 25, 100, "All"]
                ],
                "dom": '<"top">rt<"bottom"lpi><"clear">',
                "info": true
            });
        });

        function toggleAssignedHouseholds(templateId) {
            var householdList = document.getElementById('assignedHouseholds_' + templateId);
            if (householdList.style.display === 'none') {
                householdList.style.display = 'block';
            } else {
                householdList.style.display = 'none';
            }
        }
    </script>
</body>

</html>


