<!DOCTYPE html>
<xmlns="http://www.thymeleaf.org">
<div th:insert="~{header :: main}">...</div>

<body>
	
<div class="container">
    <div class="row note_card">
        <fieldset>
            <legend>Profile</legend>
            
            <div class="row">
                <div class="col-md-2">
                    <label for="username"> Username: </label>
                </div>
                <div class="col-md-10"><strong th:text="${user.username}"></strong></div>
            </div>
            
            <div class="row">
                <div class="col-md-2">
                    <label for="email">Email: </label>
                </div>
                <div class="col-md-10"><strong th:text="${user.email}"></strong></div>
            </div>
            
            <div class="row">
                <div class="col-md-2">
                    <label for="name"> Name: </label>
                </div>
                <div class="col-md-10"><strong th:text="${user.firstName} + ' ' + ${user.lastName}"></strong></div>
            </div>
            
            <br>
            <div>
                <div class="row">
                    <div class="col-md-2">
                        <button type="button" class="btn btn-secondary" onclick="editUser()">Change User Details</button>
                    </div>
                </div>
            </div>
            <br>  
        </fieldset>
    </div>
</div>

<script>
        function editUser(){
			window.location = '/changeUserInfo';
			
		};
</script>
</body>
<div th:insert="~{footer :: main}">...</div>
</html>