<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<div th:insert="~{header :: main}">...</div>
<script>
	function selectClient(id) {
		window.location = 'workClient/' + id;
	}
	function getProtocols(id){
		window.location = '/protocolsByTemplate/'+ id + '/'
	}
</script>

<body>
	<div class="container">
		<div class="row">
			<h4 th:text="|Dashboard for ${user.username}|"></h4>
		</div>
		<div class="row">
			<fieldset>
				<legend> Active Protocols </legend>
				<div th:if="${msg}">
					<div class="alert alert-info" th:text="${msg}"></div>
				</div>
				<div class="row rowheader">
					<div class="col-md-2">
						Name
					</div>
					<div class="col-md-2">
						Number of Steps
					</div>
					<div class="col-md-2">
						Steps In Progress
					</div>
					<div class="col-md-2">
						Steps Completed
					</div>
					<div class="col-md-2">
						Completion Percent
					</div>
					<div class="col-md-2">
						Action
					</div>
				</div>
				<div th:each="stat, status: ${stats}" th:id="|row_${stat.templateId}|" th:class="${status.index % 2 == 0 ? 'row even' : 'row odd'}">
					<div class="col-md-2" th:text="${stat.templateName}"></div>
					<div class="col-md-2" th:text="${stat.numSteps}"></div>
					<div class="col-md-2" th:text="${stat.progress}"></div>
					<div class="col-md-2" th:text="${stat.done}"></div>
					<div class="col-md-2" th:text="|${stat.completion}%|"></div>
					<div class="col-md-2">
						<a class="btn btn-sm btn-secondary" th:href="@{'/protocolsByTemplate/' + ${stat.templateId} + '/'}" th:text="'View Protocols'"></a>
					</div>
				</div>
				<div class="row ">&nbsp;</div>
			</fieldset>
			<div class="row ">&nbsp;</div>
		</div>
	</div>
	<br />
	<br />
	<br />
</body>
<div th:insert="~{footer :: main}">...</div>

</html>